body {
  font-family: "Oswald", sans-serif;
}

h3 {
  font-family: "Alata", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #555;
}

.site-ttl {
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  margin: 20px 0 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.wrapper .container {
  margin-left: 20px;
}

#next-canvas {
  padding: 10px;
  margin: 10px 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  width: 150px;
}

.btn {
  border: 1px solid #ccc;
  background-color: #999;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px #ccc;
  display: block;
  box-sizing: content-box;
  padding: 0;
  position: relative;
  color: #fff;
}
.btn:hover {
  cursor: pointer !important;
}
.btn:active {
  box-shadow: none;
  transform: translateY(3px);
}
.btn img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn p {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8pt;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
}

.keyboard {
  width: 150px;
}
.keyboard p {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
}

.keyboard-container-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.keyboard-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.keyboard-btn {
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px #999;
  display: block;
  box-sizing: content-box;
  padding: 0;
  position: relative;
}
.keyboard-btn:hover {
  cursor: pointer;
}
.keyboard-btn:active {
  box-shadow: none;
  transform: translateY(3px);
}

#keyboard-btn-up {
  position: relative;
}
#keyboard-btn-up p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
}

#keyboard-btn-space {
  width: 148px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 3vw;
  }
  #canvas {
    width: 65vw;
  }
  .wrapper .container {
    margin-left: 2vw;
  }
  #next-canvas {
    width: 20vw;
  }
  h3 {
    font-size: 4vw;
    line-height: 1.6;
  }
  .btn-container {
    display: block;
    width: 25vw;
    padding-bottom: 5px;
    margin: 10px 0 15px;
  }
  .btn {
    width: 25vw;
    height: 8vw;
    margin-bottom: 3vw;
  }
  .btn img {
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);
  }
  .btn p {
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    font-size: 8pt;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: bold;
  }
  .keyboard {
    width: 25vw;
  }
  .keyboard-btn {
    width: 7.2vw;
    height: 7.2vw;
  }
  .keyboard-container {
    margin-bottom: 3vw;
  }
  .keyboard-container-1 {
    margin-bottom: 3vw;
  }
  #keyboard-btn-space {
    width: 25vw;
  }
}/*# sourceMappingURL=style.css.map */