@charset "utf-8";
html{
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style: none;
}
.br{
  &-pc{
    display: block;
  }
  &-sp{
    display: none;
  }
}
body{
  // font-family: 'Fugaz One', cursive;
  font-family: 'Mallanna', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
  // font-family: 'Sofia Sans Condensed', sans-serif;
}
.lightup{
  background:linear-gradient(transparent 60%, #ff6 60%);
}

/* ヘッダー */
$header-height: 80px;
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  line-height: $header-height;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 30px;
  color: #fff;
  z-index: 100;
  transition: 0.5s 0.5s;
  &.fixed{
    background-color: rgba(0,0,0,0.8);
    transition: 0.5s 0.5s;
    a{
      color: #fff;
      transition: 0.5s 0.5s;
    }
  }
  &-ttl{
    a{
      display: flex;
      .header-ttl-img{
        max-width: 50px;
        img{
          width: 100%;
          vertical-align: middle;
          transform: translateY(-5px);
        }
      }
      .header-ttl-txt{
        margin-left: 15px;
        font-size: 2.5rem;
        font-family: 'Fugaz One', cursive;
      }
    }
  }
  &-nav{
    ul{
      display: flex;
      justify-content: space-between;
      font-family: 'Noto Serif JP', serif;
      font-weight: 500;
      font-size: 1rem;
      text-indent: 2px;
      letter-spacing: 2px;
      li{
        padding: 0 20px;
        line-height: 1;
        a{
          display: block;
          position: relative;
          box-sizing: border-box;
          height: $header-height;
          padding-top: 22px;
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: -120%;
            bottom: 0;
            left: -20px;
            width: calc(100% + 40px);
            height: $header-height;
            background-color: rgba(256,256,256,.2);
            opacity: 0;
            transition: 1s;
          }
          &:hover{
            &::after{
              top: 0;
              opacity: 1;
              transition: .5s;
            }
          }
          p{
            font-family: 'Mallanna', sans-serif;
            font-size: 0.9rem;
            text-align: center;
            padding-top: 7px;
            font-weight: 300;
          }
        }
      }
    }
  }
  #ham-btn{
    display: none;
    position: fixed;
    right: 3vw;
    width: 80px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .ham-btn-inner{
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: rgba(256,256,256,0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
      div{
        transition: .8s;
        width: 28px;
        height: 1px;
        background-color: #333;
        &:nth-child(2){
          margin: 8px 0;
        }
      }
    }
    &.open{
      .ham-btn-inner{
        div{
          &:nth-child(1){
            transform: translateY(1px) rotate(-495deg);
          }
          &:nth-child(2){
            // display: none;
            transform: scale(0);
            margin: 0;
          }
          &:nth-child(3){
            transform: translateY(-1px) rotate(495deg);
          }
        }
      }
    }
  }
  &-page{
    background-color: transparent;
    a{
      color: #333;
    }
    .header-nav{
      ul{
        li{
          a{
            &::after{
              background-color: rgba(0,0,0,0);
              background: linear-gradient(135deg, rgba($color:#CBA6AD,$alpha:0.4), rgba($color:#485FA4,$alpha:0.4));
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
/* ファーストビュー */
.fv{
  // height: 100vh;
  height: 100dvh; // dynamic viewport heigh
  background: no-repeat center/cover url(../img/fv.jpg);
  color: #fff;
  margin-bottom: 80px;
  &-inner{
    margin-left: 40px;
  }
  &-slogan{
    padding-top: 18vh;
    line-height: 2.2;
    font-size: 3rem;
    letter-spacing: 6px;
  }
  &-txt{
    margin-top: 15px;
    line-height: 2;
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
  .circle-btn-container{
    position: absolute;
    right: 5vw;
    bottom: 3vw;
    transition: 1s .3s;
    &.open{
      opacity: 0.5;
    }
    .circle-btn{
      border: solid 1px #fff;
      border-radius: 50%;
      text-align: center;
      &-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: .2s .2s;
        color: #fff;
        .img-mail{
          width: 70px;
          height: 70px;
          margin: 0 auto;
          text-align: center;
          background: no-repeat center/contain url(../img/contact.png);
          transition: .2s .2s;
        }
        .en{
          font-family: 'Mallanna', sans-serif;
          font-size: 14px;
        }
      }
      &:hover{
        cursor: pointer;
        .circle-btn-txt{
          color: #333;
          .img-mail{
            background-image: url(../img/contact-black.png);
          }
        }
      }
    }
    .circle-btn-strength{
      width: 240px;
      height: 240px;
      position: absolute;
      right: 160px;
      bottom: 80px;
      animation: float 4s infinite linear;
      font-size: 1.9rem;
      text-indent: 2px;
      letter-spacing: 2px;
      line-height: 1.4;
      &::after{
        display: block;
        content: "";
        width: 240px;
        height: 240px;
        border-radius: 50%;
        background-color: rgba(256,256,256,.8);
        transform: scale(0);
        transition: 0.5s;
      }
      &:hover::after{
        transform: scale(100%);
      }
      .en{
        margin-top: 5px;
      }
    }
    .circle-btn-contact{
      width: 180px;
      height: 180px;
      position: absolute;
      right: 10px;
      bottom: 60px;
      animation: float 4.5s 0.3s infinite linear;
      font-size: 1rem;
      line-height: 1.4;
      .circle-btn-txt{
        width: 120px;
      }
      &::after{
        display: block;
        content: "";
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: rgba(256,256,256,.8);
        transform: scale(0);
        transition: 0.5s;
      }
      &:hover::after{
        transform: scale(100%);
      }
      .en{
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
    .circle-btn-top{
      width: 80px;
      height: 80px;
      position: fixed;
      right: calc(5vw + 160px);
      bottom: calc(3vw + 40px);
      animation: float 3.5s 1s infinite linear;
      font-size: 0.8rem;
      text-indent: 1px;
      letter-spacing: 1px;
      line-height: 1.4;
      transition: 1s 0.3s;
      z-index: 80;
      &::after{
        display: block;
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(256,256,256,.8);
        transform: scale(0);
        transition: 0.5s;
      }
      &:hover::after{
        transform: scale(100%);
      }
      &:hover .top-arrow{
        border-color: #333;
      }
      .top-arrow{
        width: 15px;
        height: 15px;
        border-style: solid;
        border-color: #fff;
        border-width: 4px 0 0 4px;
        transform: rotate(45deg) translate(2px,-2px);
        transition: .2s .2s;
      }
      .circle-btn-txt{
        margin-top: 6px;
        font-family: 'Mallanna', sans-serif;
      }
      &.black{
        border-color: #666;
        background-color: rgba(250,250,250,.6);
        right: 5vw;
        animation: none;
        .circle-btn-txt{
          color: #333;
          transition: 1s 0.3s;
        }
        .top-arrow{
          border-color: #333;
          transition: 1s 0.3s;
        }
        &::after{
          background-color: rgba(0,0,0,.6);
        }
        &:hover .top-arrow{
          border-color: #fff;
        }
        &:hover .circle-btn-txt{
          color: #fff;
        }
      }
    }
  }
}
$floatR: 2px;
@keyframes float{
  0%{
    transform: translate(0,0);
  }
  12%{
    transform: translate(calc(($floatR - ($floatR / 1.4)) * -1), calc(($floatR / 1.4) * -1));
  }
  25%{
    transform: translate(-$floatR,-$floatR);
  }
  37%{
    transform: translate(calc(($floatR + ($floatR / 1.4)) * -1), calc(($floatR / 1.4) * -1));
  }
  50%{
    transform: translate(-$floatR * 2,0);
  }
  62%{
    transform: translate(calc(($floatR + ($floatR / 1.4)) * -1), calc($floatR / 1.4));
  }
  75%{
    transform: translate(-$floatR,$floatR);
  }
  87%{
    transform: translate(calc(($floatR - ($floatR / 1.4)) * -1), calc($floatR / 1.4));
  }
}
/* セクション全体 */
.section{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 80px;
  box-sizing: border-box;
  &-page{
    max-width: 100%;
    .circle-btn-container{
      position: fixed;
      right: 0;
      bottom: 0;
      transition: 1s .3s;
      .circle-btn{
        border: solid 1px #eee;
        border-radius: 50%;
        text-align: center;
        background: linear-gradient(135deg, rgba($color:#CBA6AD,$alpha:0.5), rgba($color:#485FA4,$alpha:0.5));
        background-color: rgba(0,0,0,.1);
        &-txt{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: .2s .2s;
          font-family: 'Noto Sans JP', sans-serif;
          color: #fff;
          .en{
            font-family: 'Mallanna', sans-serif;
          }
        }
        &::after{
          background-color: rgba(250,250,250,0.5);
        }
        &:hover{
          cursor: pointer;
          border-color: #333;
          .circle-btn-txt{
            color: #333;
          }
        }
      }
      .circle-btn-homepage{
        width: 120px;
        height: 120px;
        position: absolute;
        right: 70px;
        bottom: 50px;
        animation: float 4s infinite linear;
        font-size: 1.3rem;
        text-indent: 2px;
        letter-spacing: 2px;
        line-height: 1.2;
        &::after{
          display: block;
          content: "";
          width: 120px;
          height: 120px;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.5s;
        }
        &:hover::after{
          transform: scale(100%);
        }
        .circle-btn-txt{
          width: 120px;
          font-weight: 700;
        }
        .en{
          margin-top: 3px;
          font-size: 12px;
        }
      }
      .circle-btn-top{
        width: 80px;
        height: 80px;
        position: fixed;
        right: 18px;
        bottom: 18px;
        animation: float 3.5s 1s infinite linear;
        font-size: 0.8rem;
        text-indent: 1px;
        letter-spacing: 1px;
        line-height: 1.4;
        transition: 1s 0.3s;
        z-index: 80;
        &::after{
          display: block;
          content: "";
          width: 80px;
          height: 80px;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.5s;
        }
        &:hover::after{
          transform: scale(100%);
        }
        &:hover .top-arrow{
          border-color: #333;
        }
        .top-arrow{
          width: 15px;
          height: 15px;
          border-style: solid;
          border-color: #fff;
          border-width: 4px 0 0 4px;
          transform: rotate(45deg) translate(2px,-2px);
          transition: .2s .2s;
        }
        .circle-btn-txt{
          margin-top: 6px;
          font-family: 'Mallanna', sans-serif;
        }
        &.black{
          border-color: #666;
          background-color: rgba(250,250,250,.6);
          right: 5vw;
          animation: none;
          .circle-btn-txt{
            color: #333;
            transition: 1s 0.3s;
          }
          .top-arrow{
            border-color: #333;
            transition: 1s 0.3s;
          }
          &::after{
            background-color: rgba(0,0,0,.6);
          }
          &:hover .top-arrow{
            border-color: #fff;
          }
          &:hover .circle-btn-txt{
            color: #fff;
          }
        }
      }
    }
  }
  &-ttl{
    text-align: center;
    font-size: 2.5rem;
    margin: 30px 0;
    text-indent: 5px;
    letter-spacing: 5px;
    &-page{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20vh;
      color: #fff;
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(../img/fv.jpg);
      background-position: center;
      background-size: cover;
      text-indent: 15px;
      letter-spacing: 15px;
      margin-top: 0;
      span{
        font-family: 'Mallanna', sans-serif;
        margin-top: 15px;
        font-size: 20px;
        text-indent: 6px;
        letter-spacing: 6px;
      }
    }
  }
}
/* 私たちの強み（ホーム） */
$strength-item-height: 200px;
$strength-item-height-responsive: 250px;
#strength{
  max-width: 100%;
  counter-reset: num 0;
  padding: 0;
  .strength{
    &-item{
      display: flex;
      height: $strength-item-height;
      font-family: 'Noto Sans JP', sans-serif;
      position: relative;
      margin-bottom: 60px;
      &-ttl{
        width: 30%;
        height: $strength-item-height;
        color: #fff;
        background-image: linear-gradient(rgba(20,20,20,0.6),rgba(100,100,100,0.3)), url(../img/fv.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-size: 2.8rem;
        font-weight: 500;
        text-indent: 6px;
        letter-spacing: 6px;
        line-height: 1.2;
        margin: 0 20px 0 0;
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::before{
          display: block;
          content: counter(num);
          position: absolute;
          left: 50%;
          color: rgba(256,256,256,0.2);
          font-family: 'Fugaz One', cursive;
          font-size: 10rem;
          counter-increment: num 1;
        }
      }
      &-txt{
        width: 55%;
        height: $strength-item-height;
        text-indent: 1px;
        letter-spacing: 1px;
        line-height: 1.6;
        font-size: 1.2rem;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 32%;
        transform: translateY(-40%);
        z-index: 1;
        display: flex;
        align-items: center;
        div{
          display: block;
          content: "";
          position: absolute;
          top: 3%;
          left: -25%;
          width: 68vw;
          height: $strength-item-height;
          background: linear-gradient(90deg, rgba($color:#CBA6AD,$alpha:0.6), rgba($color:#485FA4,$alpha:0.6));
          z-index: -1;
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            width: 0;
            height: 0;
            border-top: solid rgba($color:#485FA4,$alpha:0.6) $strength-item-height;
            border-right: solid transparent 8vw;
            z-index: -1;
          }
        }
      }
      &-reverse{
        flex-direction: row-reverse;
        .strength-item-ttl{
          margin: 0 0 0 20px;
        }
        .strength-item-txt{
          left: initial;
          right: 31%;
          div{
            left: inherit;
            &::after{
              left: inherit;
              right: 100%;
              border-top-color: rgba($color:#CBA6AD,$alpha:0.6);
              border-right: none;
              border-left: solid transparent 8vw;
            }
          }
        }
      }
    }
  }
}
/* 事業分野（ホーム） */
#business{
  .business{
    &-list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-item{
      width: 50%;
      height: 200px;
      position: relative;
      background-size: cover;
      &:nth-child(1){
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(../img/business1.png);
      }
      &:nth-child(2){
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(../img/business2.png);
      }
      &:nth-child(3){
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(../img/business3.png);
      }
      &:nth-child(4){
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(../img/business4.png);
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        position: relative;
        &::before{
          display: block;
          content: "—";
          font-family: 'Mallanna', sans-serif;
          position: absolute;
          text-indent: 2px;
          letter-spacing: 2px;
          top: 70%;
          left: 50%;
          transform: translateX(-50%) scale(0);
          transition: 0.2s;
        }
        &::after{
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          transition: 0.5s;
        }
        &:hover::before{
          content: "> click <";
          transform: translateX(-50%) scale(100%);
          transition: 0.3s 0.3s;
        }
        &:hover::after{
          background-color: rgba($color: #777, $alpha: 0.3);
        }
      }
      &-ttl{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-indent: 2px;
        width: 100%;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        line-height: 1.4;
        color: #fff;
      }
    }
  }
}
/* 採用情報（ホーム） */
#recruit{
  margin-bottom: 0;
  position: relative;
  .recruit{
    &-cnt{
      display: flex;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 300;
      height: 400px;
      &-txt{
        width: 50%;
        background: linear-gradient(135deg, rgba($color:#CBA6AD,$alpha:0.6), rgba($color:#485FA4,$alpha:0.6));
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        box-sizing: border-box;
        span{
          font-size: 1.6rem;
          letter-spacing: 1.5px;
        }
        &-inner{
          div{
            margin-bottom: 12px;
          }
        }
      }
      &-img{
        width: 50%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .circle-btn{
        transition: 1s .3s;
        border: solid 1px #666;
        background-color: rgba(250,250,250,.7);
        border-radius: 50%;
        text-align: center;
        &::after{
          background: linear-gradient(135deg, rgba($color:#CBA6AD,$alpha:0.5), rgba($color:#485FA4,$alpha:0.5));
        }
        &-txt{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: .2s .2s;
          color: #333;
          font-family: 'Noto Serif JP', serif;
          .img-mail{
            width: 70px;
            height: 70px;
            margin: 0 auto;
            text-align: center;
            background: no-repeat center/contain url(../img/contact-black.png);
            transition: .2s .2s;
          }
          .en{
            font-family: 'Mallanna', sans-serif;
            font-size: 14px;
          }
        }
        &:hover{
          cursor: pointer;
          .circle-btn-txt{
            color: #fff;
            .img-mail{
              background-image: url(../img/contact.png);
            }
          }
        }
      }
      .circle-btn-contact{
        width: 180px;
        height: 180px;
        position: absolute;
        right: 15%;
        bottom: 20%;
        overflow: hidden;
        animation: float 4.5s 0.3s infinite linear;
        font-size: 1rem;
        line-height: 1.4;
        .circle-btn-txt{
          width: 120px;
        }
        &::after{
          display: block;
          content: "";
          width: 180px;
          height: 180px;
          border-radius: 50%;
          background-color: rgba(0,0,0,.2);
          transform: scale(0);
          transition: 0.5s;
        }
        &:hover::after{
          transform: scale(100%);
        }
        .en{
          font-size: 16px;
          text-indent: 1px;
          letter-spacing: 1px;
        }
      }
      .circle-btn-recruit{
        width: 120px;
        height: 120px;
        position: absolute;
        right: 6%;
        bottom: 40%;
        overflow: hidden;
        animation: float 3.5s 1s infinite linear;
        font-size: 1.1rem;
        line-height: 1.4;
        .circle-btn-txt{
          width: 120px;
          span{
            font-size: 14px;
          }
        }
        &::after{
          display: block;
          content: "";
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: rgba(0,0,0,.2);
          transform: scale(0);
          transition: 0.5s;
        }
        &:hover::after{
          transform: scale(100%);
        }
        .en{
          font-size: 13px;
          text-indent: 1px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
/* 企業理念（ページ） */
#vision{
  margin-top: 80px;
  overflow: hidden;
  .vision{
    &-slogan{
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 6px;
      margin: 100px 0 120px;
      position: relative;
      span{
        font-family: 'Mallanna', sans-serif;
        font-size: 2.2rem;
        line-height: 3;
      }
      &::after{
        display: block;
        content: "";
        width: 60vw;
        height: 200px;
        background: linear-gradient(90deg, rgba($color:#CBA6AD,$alpha:0.2), rgba($color:#485FA4,$alpha:0.2));
        position: absolute;
        right: calc(50% - 50vw);
        top: -40px;
        z-index: -1;
      }
    }
    &-cnt{
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      font-family: 'Noto Sans JP', sans-serif;
      ul{
        li{
          border-bottom: solid 1px #333;
          .vision-cnt-ttl{
            font-size: 1.2rem;
            font-weight: 700;
            margin: 40px 0 20px;
          }
          .vision-cnt-txt{
            font-size: 0.9rem;
            font-weight: 300;
            margin: 20px 0 40px;
            line-height: 1.6;
          }
        }
      }
    }
  }
}
/* 事業分野（ページ） */
#business-page{
  margin-top: 80px;
  .business-page{
    &-cnt{
      &-item{
        display: flex;
        height: 300px;
        &-ttl{
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #35659D;
          color: #fff;
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 3vw;
          letter-spacing: 6px;
          line-height: 1.8;
        }
        &-img{
          width: 60%;
        }
        &:nth-child(1){
          .business-page-cnt-item-img{
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/business1.png);
            background-size: cover;
          }
        }
        &:nth-child(2){
          .business-page-cnt-item-img{
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/business2.png);
            background-size: cover;
          }
        }
        &:nth-child(3){
          .business-page-cnt-item-img{
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/business3.png);
            background-size: cover;
          }
        }
        &:nth-child(4){
          .business-page-cnt-item-img{
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/business4.png);
            background-size: cover;
          }
        }
        &-reverse{
          flex-direction: row-reverse;
          .business-page-cnt-item-ttl{
            background-color: #B486AA;
          }
        }
      }
    }
  }
}
/* 会社概要（ページ） */
#company{
  margin-top: 80px;
  .company{
    &-cnt{
      max-width: 600px;
      margin: 0 auto;
      padding: 0 40px;
      dl{
        display: flex;
        flex-wrap: wrap;
        dt,dd{
          border-bottom: solid 1px #aaa;
          padding: 40px 0;
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 0.9rem;
          font-weight: 300;
          letter-spacing: 3px;
        }
        dt{
          width: 35%;
        }
        dd{
          width: 65%;
          .map{
            max-width: 100%;
            iframe{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
/* 採用情報（ページ） */
#recruit-page{
  margin-top: 80px;
  .recruit-page{
    &-slogan{
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 2.2rem;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1.8;
      margin: 100px 0 120px;
      position: relative;
      &::after{
        display: block;
        content: "";
        width: 60vw;
        height: 200px;
        background: linear-gradient(90deg, rgba($color:#CBA6AD,$alpha:0.2), rgba($color:#485FA4,$alpha:0.2));
        position: absolute;
        right: calc(50% - 50vw);
        top: -20px;
        z-index: -1;
      }
    }
    &-cnt{
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 40px;
      .list-ttl{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2.2px;
        position: relative;
        margin-bottom: 40px;
        &::after{
          display: block;
          content: "";
          width: calc(60vw - 45%);
          height: 50px;
          background: linear-gradient(135deg, rgba($color:#485FA4,$alpha:0.2), rgba($color:#CBA6AD,$alpha:0.2));
          position: absolute;
          left: calc(50% - 50vw);
          top: 12px;
          z-index: -1;
        }
      }
      dl{
        display: flex;
        flex-wrap: wrap;
        dt,dd{
          border-bottom: solid 1px #aaa;
          padding: 40px 0;
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 0.9rem;
          font-weight: 300;
          line-height: 2;
          letter-spacing: 2px;
        }
        dt{
          width: 30%;
          font-weight: 500;
        }
        dd{
          width: 70%;
          a{
            display: inline-block;
            vertical-align: -25%;
            background: linear-gradient(90deg, rgba($color:#CBA6AD,$alpha:0.6), rgba($color:#485FA4,$alpha:0.6));
            margin-left: 5px;
            padding: 1px 2px;
            width: 100px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            text-indent: 1px;
            letter-spacing: 1px;
            font-weight: 500;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            &::after{
              display: block;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100px;
              height: 25px;
              padding: 1px 2px;
              border-radius: 5px;
              background-color: rgba(0,0,0,0.5);
              z-index: -1;
              transform: translateX(-100%);
              transition: 0.5s;
            }
            &:hover::after{
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
/* コンタクトフォーム */
#contact{
  margin-top: 80px;
  .form-wrapper{
    max-width: 500px;
    margin: 40px auto 0;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    .form-q{
      margin-bottom: 25px;
      p{
        margin-bottom: 5px;
      }
    }
    .form-q1{
      div{
        background-color: #eee;
        padding: 0 0 0 10px;
        label{
          display: inline-block;
          margin: 5px 10px 5px 0;
        }
      }
    }
    input[type="text"],input[type="tel"],input[type="email"]{
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      border: none;
      background-color: #eee;
      padding: 0 10px;
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: 10px;
      font-family: 'Noto Sans JP', 'Mallanna', sans-serif;
      &:focus{
        outline: none;
      }
    }
    textarea{
      width: 100%;
      height: 150px;
      display: block;
      box-sizing: border-box;
      border: none;
      background-color: #eee;
      padding: 10px;
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: 10px;
      font-family: 'Noto Sans JP', 'Mallanna', sans-serif;
      &:focus{
        outline: none;
      }
    }
    button{
      border: none;
      display: block;
      padding: 0;
    }
    .btn-submit{
      width: 260px;
      height: 70px;
      border-radius: 10px;
      margin: 40px auto 0;
      text-align: center;
      box-shadow: 0 0 3px #999;
      background: linear-gradient(90deg, #CBA6AD, #485FA4);
      transition: .5s;
      &:hover{
        cursor: pointer;
        opacity: .7;
      }
      div{
        border-radius: 10px;
        font-weight: 600;
        text-indent: 1.4px;
        letter-spacing: 1.4px;
        line-height: 1.1;
        font-size: 1.1rem;
        transition: .5s;
        color: #fff;
        .en{
          font-family: 'Mallanna', sans-serif;
          font-size: 0.9rem;
        }
      }
    }
    input[type="radio"]{
      display: none;
    }
    input[type="radio"]+span{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      padding: 8px 8px 10px 34px;
      border-radius: 8px;
    }
    input[type="radio"]+span::before,
    input[type="radio"]+span::after{
      position: absolute;
      content: "";
      display: block;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      margin: auto;
      box-sizing: border-box;
    }
    input[type="radio"]+span::before{
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px solid #999999;
      left: 9px;
    }
    input[type="radio"]+span::after{
      width: 10px;
      height: 10px;
      background: #999999;
      left: 14px;
      opacity: 0;
      transition: ease .2s;
    }
    input:hover+span{
      background: #ddd;
    }
    input[type="radio"]:checked+span::before{
      border: 2px solid #6596FA;
    }
    input[type="radio"]:checked+span::after{
      background: #6596FA;
      opacity: 1;
    }
    .required{
      position: relative;
      &::after{
        display: inline-block;
        content: "必須";
        width: 30px;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        margin-left: 8px;
        font-size: 0.7rem;
        background-color: tomato;
        color: #fff;
        text-align: center;
        padding: 3px;
        border-radius: 3px;
        font-weight: 500;
      }
    }
  }
}
/* フッター */
.footer{
  height: 80px;
  .copyright{
    font-family: 'Mallanna', sans-serif;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    font-size: 0.9rem;
    color: #555;
  }
}




/* レスポンシブ */
@media screen and (max-width: 800px) {
  .br{
    &-pc{
      display: none;
    }
    &-sp{
      display: block;
    }
  }
  .header{
    padding: 0 6vw;
    &-ttl{
      a{
        .header-ttl-txt{
          font-size: 2rem;
        }
      }
    }
    &-nav{
      position: fixed;
      z-index: 90;
      top: -120%;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), linear-gradient(135deg, rgba($color:#CBA6AD,$alpha:0.9), rgba($color:#485FA4,$alpha:0.9));
      line-height: 50px;
      transition: .8s;
      ul{
        flex-direction: column;
        margin-top: 50vh;
        transform: translateY(-50%);
        li{
          margin: 10px auto;
          a{
            display: block;
            height: 60px;
            width: 150px;
            color: #fff;
            border: solid 1px #fff;
            text-align: center;
            transition: .5s;
            padding: 10px 0;
            &::after{
              content: initial; // PCの::afterを解除する
            }
            &:hover{
              background-color: rgba(256,256,256,.3);
            }
          }
        }
      }
      &.open{
        top: 0;
      }
    }
    #ham-btn{
      display: flex;
      &.open{
        .ham-btn-inner{
          div{
            background-color: #fff;
          }
        }
      }
    }
  }
  .fv{
    margin-bottom: 40px;
    &-slogan{
      font-size: 10vw;
      line-height: 1.5;
    }
    &-txt{
      font-size: 5vw;
      line-height: 2;
    }
    .circle-btn-container{
      right: 3vw;
      bottom: 0;
      .circle-btn-strength{
        width: 160px;
        height: 160px;
        right: 140px;
        bottom: 80px;
        font-size: 1.4rem;
        &::after{
          width: 160px;
          height: 160px;
        }
        .en{
          font-size: 12px;
          text-indent: 1px;
          letter-spacing: 1px;
        }
      }
      .circle-btn-contact{
        width: 130px;
        height: 130px;
        right: 40px;
        bottom: 60px;
        font-size: 0.6rem;
        &::after{
          width: 130px;
          height: 130px;
        }
        .img-mail{
          width: 40px;
          height: 40px;
        }
        .en{
          font-size: 12px;
        }
      }
      .circle-btn-top{
        width: 70px;
        height: 70px;
        position: fixed;
        right: calc(3vw + 140px);
        bottom: 30px;
        &::after{
          width: 70px;
          height: 70px;
        }
        &.black{
          right: 3vw;
        }
      }
    }
  }
  .section{
    padding: 0 4vw;
    &-ttl{
      font-size: 2.4rem;
    }
    &-page{
      padding: 0;
      .circle-btn-container{
        .circle-btn-homepage{
          width: 100px;
          height: 100px;
          font-size: 1rem;
          right: 65px;
          bottom: 45px;
          &::after{
            width: 100px;
            height: 100px;
          }
          .en{
            font-size: 8px;
            text-indent: 1px;
            letter-spacing: 1px;
          }
        }
        .circle-btn-top{
          width: 70px;
          height: 70px;
          &::after{
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
  #strength{
    margin-bottom: 160px;
    .strength{
      &-item{
        margin-bottom: 90px;
        &-ttl{
          height: $strength-item-height-responsive;
          font-size: 40px;
          line-height: 1.3;
          &::before{
            font-size: 150px;
            top: 100px;
            left: initial;
            right: -20px;
            transform: translateY(-60%);
          }
        }
        &-txt{
          font-size: 1rem;
          line-height: 1.5;
          text-indent: 1.3px;
          letter-spacing: 1.3px;
          margin-top: 50px;
          div{
            top: 10%;
            right: 0;
            width: 80vw;
            transform: translateY(-20%);
            height: calc($strength-item-height-responsive + 20px);
            &::after{
              border-top: none;
              border-right: none;
            }
          }
        }
        &-reverse{
          flex-direction: row-reverse;
          .strength-item-ttl{
            margin: 0 0 0 20px;
            &::before{
              top: 100px;
              left: -20px;
              right: initial;
            }
          }
          .strength-item-txt{
            left: initial;
            right: 32%;
            div{
              left: inherit;
              right: -30%;
              width: 90vw;
              &::after{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  #business{
    .business{
      &-item{
        width: 98%;
        &-ttl{
          font-size: 1.4rem;
          line-height: 1.6;
        }
      }
    }
  }
  #recruit{
    .recruit{
      &-cnt{
        display: block;
        height: auto;
        &-txt{
          width: 100%;
          font-size: 0.9rem;
          text-indent: 0.9px;
          letter-spacing: 0.9px;
          span{
            font-size: 1.5rem;
            text-indent: 1.2px;
            letter-spacing: 1.2px;
          }
        }
        &-img{
          width: 100%;
          height: 300px;
        }
        .circle-btn-contact{
          width: 130px;
          height: 130px;
          right: calc(3vw + 30px);
          bottom: 55px;
          font-size: 0.9rem;
          &::after{
            width: 130px;
            height: 130px;
          }
          .img-mail{
            width: 50px;
            height: 50px;
          }
          .en{
            font-size: 14px;
          }
        }
        .circle-btn-recruit{
          width: 100px;
          height: 100px;
          right: calc(3vw + 140px);
          bottom: 4%;
          font-size: 0.9rem;
          line-height: 1.4;
          .circle-btn-txt{
            width: 120px;
            span{
              font-size: 10px;
            }
          }
          &::after{
            width: 100px;
            height: 100px;
          }
          .en{
            font-size: 10px;
            text-indent: 1px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  #vision{
    .vision{
      &-slogan{
        font-size: 6vw;
        span{
          font-size: 4vw;
        }
        &::after{
          height: 30vw;
        }
      }
      &-cnt{
        padding: 0 4vw;
      }
    }
  }
  #company{
    .company{
      &-cnt{
        padding: 0 4vw;
        dl{
          dt,dd{
            font-size: 0.8rem;
            text-indent: 1px;
            letter-spacing: 1px;
            padding: 30px 0;
          }
          dt{
            width: 25%;
          }
          dd{
            width: 75%;
          }
        }
      }
    }
  }
  #recruit-page{
    .recruit-page{
      &-slogan{
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 60px 0 80px;
        line-height: 1.8;
        &::after{
          height: 180px;
          top: -30px;
        }
      }
      &-cnt{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 40px;
        .list-ttl{
          &::after{
            width: calc(60vw - 30%);
          }
        }
        dl{
          dt,dd{
            padding: 20px 0;
            font-size: 0.8rem;
            letter-spacing: 1.4px;
          }
          dt{
            width: 30%;
          }
          dd{
            width: 70%;
          }
        }
      }
    }
  }
  #business-page{
    .business-page{
      &-cnt{
        &-item{
          display: flex;
          height: 200px;
          &-ttl{
            font-size: 3vw;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
  #contact{
    .section-ttl-page{
      letter-spacing: 4px;
    }
    .form-wrapper{
      max-width: 80vw;
      .form-q1{
        div{
          padding: 10px 0 10px 10px;
          label{
            display: block;
            margin: 5px 0;
          }
        }
      }
    }
  }
}