@charset "UTF-8";
html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.br-pc {
  display: block;
}
.br-sp {
  display: none;
}

body {
  font-family: "Mallanna", sans-serif;
  font-family: "Noto Serif JP", serif;
}

.lightup {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

/* ヘッダー */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 30px;
  color: #fff;
  z-index: 100;
  transition: 0.5s 0.5s;
}
.header.fixed {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s 0.5s;
}
.header-ttl a {
  display: flex;
}
.header-ttl a .header-ttl-img {
  max-width: 50px;
}
.header-ttl a .header-ttl-img img {
  width: 100%;
  vertical-align: middle;
  transform: translateY(-5px);
}
.header-ttl a .header-ttl-txt {
  margin-left: 15px;
  font-size: 2.5rem;
  font-family: "Fugaz One", cursive;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2px;
}
.header-nav ul li {
  margin: 0 20px;
  line-height: 1;
}
.header-nav ul li a {
  display: block;
  position: relative;
  height: 80px;
  padding-top: 22px;
}
.header-nav ul li a::after {
  display: block;
  content: "";
  position: absolute;
  top: -120%;
  bottom: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: 1s;
}
.header-nav ul li a:hover::after {
  top: 0;
  opacity: 1;
  transition: 0.5s;
}
.header-nav ul li a p {
  font-family: "Mallanna", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 7px;
  font-weight: 300;
}
.header #ham-btn {
  display: none;
  position: fixed;
  top: 3vw;
  right: 3vw;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.header #ham-btn .ham-btn-inner {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #ham-btn .ham-btn-inner:hover {
  cursor: pointer;
}
.header #ham-btn .ham-btn-inner div {
  transition: 0.8s;
  width: 28px;
  height: 1px;
  background-color: #333;
}
.header #ham-btn .ham-btn-inner div:nth-child(2) {
  margin: 8px 0;
}
.header #ham-btn.open .ham-btn-inner div:nth-child(1) {
  transform: translateY(1px) rotate(-495deg);
}
.header #ham-btn.open .ham-btn-inner div:nth-child(2) {
  transform: scale(0);
  margin: 0;
}
.header #ham-btn.open .ham-btn-inner div:nth-child(3) {
  transform: translateY(-1px) rotate(495deg);
}

/* ファーストビュー */
.fv {
  height: 100vh;
  background: no-repeat center/cover url(../img/fv.jpg);
  color: #fff;
  margin-bottom: 80px;
}
.fv-inner {
  margin-left: 40px;
}
.fv-slogan {
  padding-top: 18vh;
  line-height: 2.2;
  font-size: 3rem;
  letter-spacing: 6px;
}
.fv-txt {
  margin-top: 15px;
  line-height: 2;
  font-size: 1.8rem;
  letter-spacing: 3px;
}
.fv .circle-btn-container {
  position: absolute;
  right: 5vw;
  bottom: 3vw;
  transition: 1s 0.3s;
}
.fv .circle-btn-container.open {
  opacity: 0.1;
}
.fv .circle-btn-container .circle-btn {
  border: solid 1px #fff;
  border-radius: 50%;
  text-align: center;
}
.fv .circle-btn-container .circle-btn-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.2s 0.2s;
  color: #fff;
}
.fv .circle-btn-container .circle-btn-txt .img-mail {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background: no-repeat center/contain url(../img/contact.png);
  transition: 0.2s 0.2s;
}
.fv .circle-btn-container .circle-btn-txt .en {
  font-family: "Mallanna", sans-serif;
  font-size: 14px;
}
.fv .circle-btn-container .circle-btn:hover {
  cursor: pointer;
}
.fv .circle-btn-container .circle-btn:hover .circle-btn-txt {
  color: #333;
}
.fv .circle-btn-container .circle-btn:hover .circle-btn-txt .img-mail {
  background-image: url(../img/contact-black.png);
}
.fv .circle-btn-container .circle-btn-strength {
  width: 240px;
  height: 240px;
  position: absolute;
  right: 160px;
  bottom: 80px;
  animation: float 4s infinite linear;
  font-size: 1.9rem;
  letter-spacing: 2px;
  line-height: 1.4;
}
.fv .circle-btn-container .circle-btn-strength::after {
  display: block;
  content: "";
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(0);
  transition: 0.5s;
}
.fv .circle-btn-container .circle-btn-strength:hover::after {
  transform: scale(100%);
}
.fv .circle-btn-container .circle-btn-strength .en {
  margin-top: 5px;
}
.fv .circle-btn-container .circle-btn-contact {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 10px;
  bottom: 60px;
  animation: float 4.5s 0.3s infinite linear;
  font-size: 1rem;
  line-height: 1.4;
}
.fv .circle-btn-container .circle-btn-contact .circle-btn-txt {
  width: 120px;
}
.fv .circle-btn-container .circle-btn-contact::after {
  display: block;
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(0);
  transition: 0.5s;
}
.fv .circle-btn-container .circle-btn-contact:hover::after {
  transform: scale(100%);
}
.fv .circle-btn-container .circle-btn-contact .en {
  font-size: 16px;
  letter-spacing: 1px;
}
.fv .circle-btn-container .circle-btn-top {
  width: 80px;
  height: 80px;
  position: fixed;
  right: calc(5vw + 160px);
  bottom: calc(3vw + 40px);
  animation: float 3.5s 1s infinite linear;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.4;
  transition: 1s 0.3s;
  z-index: 80;
}
.fv .circle-btn-container .circle-btn-top::after {
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(0);
  transition: 0.5s;
}
.fv .circle-btn-container .circle-btn-top:hover::after {
  transform: scale(100%);
}
.fv .circle-btn-container .circle-btn-top:hover .top-arrow {
  border-color: #333;
}
.fv .circle-btn-container .circle-btn-top .top-arrow {
  width: 15px;
  height: 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 4px 0 0 4px;
  transform: rotate(45deg) translate(2px, -2px);
  transition: 0.2s 0.2s;
}
.fv .circle-btn-container .circle-btn-top .circle-btn-txt {
  margin-top: 6px;
  font-family: "Mallanna", sans-serif;
}
.fv .circle-btn-container .circle-btn-top.black {
  border-color: #666;
  background-color: rgba(250, 250, 250, 0.6);
  right: 5vw;
  animation: none;
}
.fv .circle-btn-container .circle-btn-top.black .circle-btn-txt {
  color: #333;
  transition: 1s 0.3s;
}
.fv .circle-btn-container .circle-btn-top.black .top-arrow {
  border-color: #333;
  transition: 1s 0.3s;
}
.fv .circle-btn-container .circle-btn-top.black::after {
  background-color: rgba(0, 0, 0, 0.6);
}
.fv .circle-btn-container .circle-btn-top.black:hover .top-arrow {
  border-color: #fff;
}
.fv .circle-btn-container .circle-btn-top.black:hover .circle-btn-txt {
  color: #fff;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  12% {
    transform: translate(-0.5714285714px, -1.4285714286px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  37% {
    transform: translate(-3.4285714286px, -1.4285714286px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62% {
    transform: translate(-3.4285714286px, 1.4285714286px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  87% {
    transform: translate(-0.5714285714px, 1.4285714286px);
  }
}
/* セクション全体 */
.section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 80px;
  box-sizing: border-box;
}
.section-ttl {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
  letter-spacing: 5px;
}

/* 私たちの強み（ホーム） */
#strength {
  max-width: 100%;
  counter-reset: num 0;
  padding: 0;
}
#strength .strength-item {
  display: flex;
  height: 200px;
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
  margin-bottom: 60px;
}
#strength .strength-item-ttl {
  width: 30%;
  height: 200px;
  color: #fff;
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(100, 100, 100, 0.3)), url(../img/fv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 1.2;
  margin: 0 20px 0 0;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#strength .strength-item-ttl::before {
  display: block;
  content: counter(num);
  position: absolute;
  top: -5%;
  left: 50%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 10rem;
  font-weight: 900;
  counter-increment: num 1;
}
#strength .strength-item-txt {
  width: 55%;
  height: 200px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateY(-40%);
  z-index: 1;
  display: flex;
  align-items: center;
}
#strength .strength-item-txt div {
  display: block;
  content: "";
  position: absolute;
  top: 3%;
  left: -25%;
  width: 68vw;
  height: 200px;
  background: linear-gradient(90deg, rgba(203, 166, 173, 0.6), rgba(72, 95, 164, 0.6));
  z-index: -1;
}
#strength .strength-item-txt div::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: solid rgba(72, 95, 164, 0.6) 200px;
  border-right: solid transparent 8vw;
  z-index: -1;
}
#strength .strength-item-reverse {
  flex-direction: row-reverse;
}
#strength .strength-item-reverse .strength-item-ttl {
  margin: 0 0 0 20px;
}
#strength .strength-item-reverse .strength-item-txt {
  left: initial;
  right: 31%;
}
#strength .strength-item-reverse .strength-item-txt div {
  left: inherit;
}
#strength .strength-item-reverse .strength-item-txt div::after {
  left: inherit;
  right: 100%;
  border-top-color: rgba(203, 166, 173, 0.6);
  border-right: none;
  border-left: solid transparent 8vw;
}

/* 事業分野（ホーム） */
#business .business-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#business .business-item {
  width: 50%;
  height: 200px;
  position: relative;
  background-size: cover;
}
#business .business-item:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/business1.png);
}
#business .business-item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/business2.png);
}
#business .business-item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/business3.png);
}
#business .business-item:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/business4.png);
}
#business .business-item a {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: relative;
}
#business .business-item a::before {
  display: block;
  content: "—";
  font-family: "Mallanna", sans-serif;
  position: absolute;
  letter-spacing: 2px;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.2s;
}
#business .business-item a::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#business .business-item a:hover::before {
  content: "> click <";
  transform: translateX(-50%) scale(100%);
  transition: 0.3s 0.3s;
}
#business .business-item a:hover::after {
  background-color: rgba(119, 119, 119, 0.3);
}
#business .business-item-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

/* 採用情報（ホーム） */
#recruit {
  margin-bottom: 0;
  position: relative;
}
#recruit .recruit-cnt {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  height: 400px;
}
#recruit .recruit-cnt-txt {
  width: 50%;
  background: linear-gradient(135deg, rgba(203, 166, 173, 0.6), rgba(72, 95, 164, 0.6));
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
#recruit .recruit-cnt-txt span {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}
#recruit .recruit-cnt-txt-inner div {
  margin-bottom: 12px;
}
#recruit .recruit-cnt-img {
  width: 50%;
}
#recruit .recruit-cnt-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recruit .recruit-cnt .circle-btn {
  transition: 1s 0.3s;
  border: solid 1px #666;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 50%;
  text-align: center;
}
#recruit .recruit-cnt .circle-btn-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.2s 0.2s;
  color: #333;
  font-family: "Noto Serif JP", serif;
}
#recruit .recruit-cnt .circle-btn-txt .img-mail {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background: no-repeat center/contain url(../img/contact-black.png);
  transition: 0.2s 0.2s;
}
#recruit .recruit-cnt .circle-btn-txt .en {
  font-family: "Mallanna", sans-serif;
  font-size: 14px;
}
#recruit .recruit-cnt .circle-btn:hover {
  cursor: pointer;
}
#recruit .recruit-cnt .circle-btn:hover .circle-btn-txt {
  color: #fff;
}
#recruit .recruit-cnt .circle-btn:hover .circle-btn-txt .img-mail {
  background-image: url(../img/contact.png);
}
#recruit .recruit-cnt .circle-btn-contact {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 15%;
  bottom: 20%;
  overflow: hidden;
  animation: float 4.5s 0.3s infinite linear;
  font-size: 1rem;
  line-height: 1.4;
}
#recruit .recruit-cnt .circle-btn-contact .circle-btn-txt {
  width: 120px;
}
#recruit .recruit-cnt .circle-btn-contact::after {
  display: block;
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transition: 0.5s;
}
#recruit .recruit-cnt .circle-btn-contact:hover::after {
  transform: scale(100%);
}
#recruit .recruit-cnt .circle-btn-contact .en {
  font-size: 16px;
  letter-spacing: 1px;
}
#recruit .recruit-cnt .circle-btn-recruit {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 6%;
  bottom: 40%;
  overflow: hidden;
  animation: float 3.5s 1s infinite linear;
  font-size: 1.1rem;
  line-height: 1.4;
}
#recruit .recruit-cnt .circle-btn-recruit .circle-btn-txt {
  width: 120px;
}
#recruit .recruit-cnt .circle-btn-recruit .circle-btn-txt span {
  font-size: 14px;
}
#recruit .recruit-cnt .circle-btn-recruit::after {
  display: block;
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transition: 0.5s;
}
#recruit .recruit-cnt .circle-btn-recruit:hover::after {
  transform: scale(100%);
}
#recruit .recruit-cnt .circle-btn-recruit .en {
  font-size: 13px;
  letter-spacing: 1px;
}

/* コンタクトフォーム */
.form-wrapper {
  max-width: 500px;
  margin: 100px auto 0;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}
.form-wrapper .form-q {
  margin-bottom: 25px;
}
.form-wrapper .form-q p {
  margin-bottom: 5px;
}
.form-wrapper .form-q1 div {
  background-color: #eee;
  padding: 0 0 0 10px;
}
.form-wrapper .form-q1 div label {
  display: inline-block;
  margin: 5px 10px 5px 0;
}
.form-wrapper input[type=text], .form-wrapper input[type=tel], .form-wrapper input[type=email] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #eee;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 10px;
  font-family: "Noto Sans JP", "Mallanna", sans-serif;
}
.form-wrapper input[type=text]:focus, .form-wrapper input[type=tel]:focus, .form-wrapper input[type=email]:focus {
  outline: none;
}
.form-wrapper textarea {
  width: 100%;
  height: 150px;
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: #eee;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 10px;
  font-family: "Noto Sans JP", "Mallanna", sans-serif;
}
.form-wrapper textarea:focus {
  outline: none;
}
.form-wrapper button {
  border: none;
  display: block;
  padding: 0;
}
.form-wrapper .btn-submit {
  width: 260px;
  height: 70px;
  border-radius: 10px;
  margin: 40px auto 0;
  text-align: center;
  margin-bottom: 100px;
  box-shadow: 0 0 3px #999;
  background: linear-gradient(90deg, #CBA6AD, #485FA4);
  transition: 0.5s;
}
.form-wrapper .btn-submit:hover {
  cursor: pointer;
  opacity: 0.7;
}
.form-wrapper .btn-submit div {
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 1.1;
  font-size: 1.1rem;
  transition: 0.5s;
  color: #fff;
}
.form-wrapper .btn-submit div .en {
  font-family: "Mallanna", sans-serif;
  font-size: 0.9rem;
}
.form-wrapper input[type=radio] {
  display: none;
}
.form-wrapper input[type=radio] + span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px 8px 10px 34px;
  border-radius: 8px;
}
.form-wrapper input[type=radio] + span::before,
.form-wrapper input[type=radio] + span::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
}
.form-wrapper input[type=radio] + span::before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #999999;
  left: 9px;
}
.form-wrapper input[type=radio] + span::after {
  width: 10px;
  height: 10px;
  background: #999999;
  left: 14px;
  opacity: 0;
  transition: ease 0.2s;
}
.form-wrapper input:hover + span {
  background: #ddd;
}
.form-wrapper input[type=radio]:checked + span::before {
  border: 2px solid #6596FA;
}
.form-wrapper input[type=radio]:checked + span::after {
  background: #6596FA;
  opacity: 1;
}
.form-wrapper .required {
  position: relative;
}
.form-wrapper .required::after {
  display: inline-block;
  content: "必須";
  width: 30px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 8px;
  font-size: 0.7rem;
  background-color: tomato;
  color: #fff;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  font-weight: 500;
}

/* フッター */
.footer {
  height: 40px;
}
.footer .copyright {
  font-family: "Mallanna", sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 300;
  font-size: 0.8rem;
}

/* レスポンシブ */
@media screen and (max-width: 800px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .header {
    padding: 3vw 6vw 0 6vw;
  }
  .header-ttl a .header-ttl-txt {
    font-size: 8vw;
  }
  .header-nav {
    position: fixed;
    z-index: 90;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 50px;
    transition: 0.8s;
  }
  .header-nav ul {
    flex-direction: column;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  .header-nav ul li {
    margin: 10px auto;
  }
  .header-nav ul li a {
    display: block;
    height: 40px;
    width: 150px;
    color: #fff;
    border: solid 1px #fff;
    text-align: center;
    transition: 0.5s;
    padding: 10px 0;
  }
  .header-nav ul li a::after {
    content: initial;
  }
  .header-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .header-nav.open {
    top: 0;
  }
  .header #ham-btn {
    display: flex;
  }
  .header #ham-btn.open .ham-btn-inner div {
    background-color: #fff;
  }
  .fv {
    margin-bottom: 40px;
  }
  .fv-slogan {
    font-size: 10vw;
    line-height: 1.5;
  }
  .fv-txt {
    font-size: 5vw;
    line-height: 2;
  }
  .fv .circle-btn-container {
    right: 3vw;
    bottom: 0;
  }
  .fv .circle-btn-container .circle-btn-strength {
    width: 160px;
    height: 160px;
    right: 140px;
    bottom: 80px;
    font-size: 1.4rem;
  }
  .fv .circle-btn-container .circle-btn-strength::after {
    width: 160px;
    height: 160px;
  }
  .fv .circle-btn-container .circle-btn-strength .en {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .fv .circle-btn-container .circle-btn-contact {
    width: 130px;
    height: 130px;
    right: 40px;
    bottom: 60px;
    font-size: 0.6rem;
  }
  .fv .circle-btn-container .circle-btn-contact::after {
    width: 130px;
    height: 130px;
  }
  .fv .circle-btn-container .circle-btn-contact .img-mail {
    width: 40px;
    height: 40px;
  }
  .fv .circle-btn-container .circle-btn-contact .en {
    font-size: 12px;
  }
  .fv .circle-btn-container .circle-btn-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: calc(3vw + 140px);
    bottom: 30px;
  }
  .fv .circle-btn-container .circle-btn-top::after {
    width: 70px;
    height: 70px;
  }
  .fv .circle-btn-container .circle-btn-top.black {
    right: 3vw;
  }
  .section {
    padding: 0 4vw;
  }
  .section-ttl {
    font-size: 8vw;
  }
  #strength {
    margin-bottom: 160px;
  }
  #strength .strength-item {
    margin-bottom: 90px;
  }
  #strength .strength-item-ttl {
    height: 250px;
    font-size: 6vw;
    line-height: 1.3;
  }
  #strength .strength-item-ttl::before {
    font-size: 20vw;
    top: 50%;
    transform: translateY(-60%);
  }
  #strength .strength-item-txt {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1.3px;
    margin-top: 50px;
  }
  #strength .strength-item-txt div {
    top: 10%;
    right: 0;
    width: 80vw;
    transform: translateY(-20%);
    height: 270px;
  }
  #strength .strength-item-txt div::after {
    border-top: none;
    border-right: none;
  }
  #strength .strength-item-reverse {
    flex-direction: row-reverse;
  }
  #strength .strength-item-reverse .strength-item-ttl {
    margin: 0 0 0 20px;
  }
  #strength .strength-item-reverse .strength-item-txt {
    left: initial;
    right: 32%;
  }
  #strength .strength-item-reverse .strength-item-txt div {
    left: inherit;
    right: -30%;
    width: 90vw;
  }
  #strength .strength-item-reverse .strength-item-txt div::after {
    display: none;
  }
  #business .business-item {
    width: 98%;
  }
  #business .business-item-ttl {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  #recruit .recruit-cnt {
    display: block;
    height: auto;
  }
  #recruit .recruit-cnt-txt {
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.9px;
  }
  #recruit .recruit-cnt-txt span {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
  }
  #recruit .recruit-cnt-img {
    width: 100%;
    height: 300px;
  }
  #recruit .recruit-cnt .circle-btn-contact {
    width: 130px;
    height: 130px;
    right: calc(3vw + 35px);
    bottom: 55px;
    font-size: 0.6rem;
  }
  #recruit .recruit-cnt .circle-btn-contact::after {
    width: 130px;
    height: 130px;
  }
  #recruit .recruit-cnt .circle-btn-contact .img-mail {
    width: 40px;
    height: 40px;
  }
  #recruit .recruit-cnt .circle-btn-contact .en {
    font-size: 12px;
  }
  #recruit .recruit-cnt .circle-btn-recruit {
    width: 100px;
    height: 100px;
    right: calc(3vw + 140px);
    bottom: 4%;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  #recruit .recruit-cnt .circle-btn-recruit .circle-btn-txt {
    width: 120px;
  }
  #recruit .recruit-cnt .circle-btn-recruit .circle-btn-txt span {
    font-size: 10px;
  }
  #recruit .recruit-cnt .circle-btn-recruit::after {
    width: 100px;
    height: 100px;
  }
  #recruit .recruit-cnt .circle-btn-recruit .en {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .form-wrapper {
    max-width: 80vw;
  }
  .form-wrapper .form-q1 div {
    padding: 10px 0 10px 10px;
  }
  .form-wrapper .form-q1 div label {
    display: block;
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */