@charset "utf-8";

a{
  text-decoration: none;
  color: #fff;
}
.br{
  &-pc{
    display: block;
  }
  &-sp{
    display: none;
  }
}
body{
  // font-family: 'Fugaz One', cursive;
  font-family: 'Mallanna', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
  // font-family: 'Sofia Sans Condensed', sans-serif;
}

$header-height: 80px;
.header{
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  line-height: $header-height;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  color: #fff;
  &-ttl{
    a{
      display: flex;
      .header-ttl-img{
        max-width: 50px;
        img{
          width: 100%;
          vertical-align: middle;
          transform: translateY(-5px);
        }
      }
      .header-ttl-txt{
        margin-left: 15px;
        font-size: 2.5rem;
        font-family: 'Fugaz One', cursive;
      }
    }
  }
  &-nav{
    ul{
      display: flex;
      justify-content: space-between;
      font-family: 'Sofia Sans Condensed', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      li{
        margin: 0 15px;
        a{
          display: block;
          position: relative;
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: -120%;
            bottom: 0;
            left: -15px;
            width: calc(100% + 30px);
            height: $header-height;
            background-color: rgba(256,256,256,.2);
            opacity: 0;
            transition: 1s;
          }
          &:hover{
            &::after{
              top: 0;
              opacity: 1;
              transition: .5s;
            }
          }
        }
      }
    }
  }
  #ham-btn{
    display: none;
    position: fixed;
    top: 3vw;
    right: 3vw;
    width: 80px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .ham-btn-inner{
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: rgba(256,256,256,0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
      div{
        transition: .8s;
        width: 28px;
        height: 1px;
        background-color: #333;
        &:nth-child(2){
          margin: 8px 0;
        }
      }
    }
    &.open{
      .ham-btn-inner{
        div{
          &:nth-child(1){
            transform: translateY(1px) rotate(-495deg);
          }
          &:nth-child(2){
            // display: none;
            transform: scale(0);
            margin: 0;
          }
          &:nth-child(3){
            transform: translateY(-1px) rotate(495deg);
          }
        }
      }
    }
  }
  // #cover{
  //   display: none;
  // }
}
.fv{
  height: 100vh;
  background: no-repeat center/cover url(../img/fv.jpg);
  color: #fff;
  &-inner{
    margin-left: 40px;
  }
  &-slogan{
    padding-top: 25vh;
    line-height: 2.2;
    font-size: 3rem;
  }
  &-txt{
    margin-top: 15px;
    line-height: 2;
    font-size: 1.8rem;
  }
}
.footer{
  height: 40px;
  .copyright{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }
}

// レスポンシブ
@media screen and (max-width: 768px) {
  .br{
    &-pc{
      display: none;
    }
    &-sp{
      display: block;
    }
  }

  .header{
    background-color: transparent;
    padding: 3vw 6vw 0 6vw;
    &-ttl{
      a{
        .header-ttl-txt{
          font-size: 8vw;
        }
      }
    }
    &-nav{
      position: fixed;
      z-index: 90;
      top: -120%;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0,0,0,0.8);
      line-height: 50px;
      transition: .8s;
      ul{
        flex-direction: column;
        margin-top: 50vh;
        transform: translateY(-50%);
        li{
          margin: 10px auto;
          a{
            display: block;
            width: 150px;
            color: #fff;
            border: solid 1px #fff;
            text-align: center;
            transition: .5s;
            &::after{
              content: initial; // PCの::afterを解除する
            }
            &:hover{
              background-color: rgba(256,256,256,.3);
            }
          }
        }
      }
      &.open{
        top: 0;
      }
    }
    #ham-btn{
      display: flex;
      &.open{
        .ham-btn-inner{
          div{
            background-color: #fff;
          }
        }
      }
    }
    // #cover{
    //   &.open{
    //     display: block;
    //     position: fixed;
    //     z-index: 90;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-color: rgba(0,0,0,0.2);
    //     width: 60vw;
    //   }
    // }
  }
  .fv{
    &-slogan{
      font-size: 10vw;
      line-height: 1.5;
    }
    &-txt{
      font-size: 5vw;
      line-height: 2;
    }
  }
}