footer{
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 0.75rem;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.sns-list{
  display: flex;
  justify-content: space-between;
  .sns-item{
    margin-right: 30px;
  }
}

@media screen and (max-width: 900px) {
  footer{
    flex-direction: column;
    .sns-list{
      justify-content: start;
      margin-bottom: 10px;
    }
  }
}