.header{
  max-width: 1360px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 40px;
  margin: 0 auto;
  &-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}
.hp-title{
  width: 30%;
  a{
    display: block;
    width: 180px;
    transition: 0.5s;
    img{
      max-width: 100%;
    }
    &:hover{
      opacity: 0.7;
    }
  }
}
.menu{
  width: 60%;
  height: 100%;
  position: relative;
  &-list{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &-item{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5px;
    &:nth-child(2){
      margin-right: 15px;
    }
    a{
      display: flex;
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
      transition: 0.3s;
      font-weight: 700;
      &:hover{
        background-color: #eee;
      }
    }
    &-like-img, &-cart-img{
      max-width: 20px;
      position: relative;
      margin: 5px 5px 0 5px;
      img{
        width: 100%;
      }
      .menu-item-num{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -4px;
        right: -14px;
        color: #fff;
        background-color: tomato;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 10px;
        letter-spacing: -2px;
        text-indent: -2px;
        font-family: "Zen Kaku Gothic Antique", sans-serif;
      }
    }
    &-user, &-login, &-register{
      background-color: #669667;
      color: #fff;
      border-radius: 10px;
      padding: 0 8px !important;
      &:hover{
        background-color: #777 !important;
      }
    }
    &-register{
      background-color: #ccc;
    }
  }
  #menu-item-user{
    margin-left: 15px;
  }
}

.user-info-list{
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 5px 0;
  width: 100px;
  box-sizing: border-box;
  box-shadow: 0 0 6px -2px #777;
  background-color: #fff;
  .user-info-item{
    a{
      display: block;
      box-sizing: border-box;
      width: 100%;
      transition: 0.5s;
      &:hover{
        background-color: #eee;
      }
    }
  }
}
.user-info-list.active{
  display: block;
}
.ham{
  width: 30px;
  height: 30px;
  top: 25px;
  right: 55px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover{
    cursor: pointer;
  }
  .ham__bar{
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
    transition: 0.5s;
    &-1{
      margin-bottom: 3px;
    }
    &-2{
      margin-top: 3px;
    }
  }
  &.active{
    .ham__bar{
      background-color: #fff;
      &-1{
        margin-bottom: 0;
        transform: translateY(1px) rotate(-45deg);
      }
      &-2{
        margin-top: 0;
        transform: translateY(-1px) rotate(45deg);
      }
    }
  }
}
.hp-nav{
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  z-index: 100;
  transition: 0.5s;
  .hp-nav-list{
    padding: 40px 0 40px 50px;
    transition: all 0.5s;
    .hp-nav-item{
      margin-bottom: 20px;
      a{
        color: #fff;
        transition: 0.5s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  &.active{
    left: 0;
  }
}
.mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.8);
  z-index: 99;
  transition: 0.5s;
  &:hover{
    cursor: pointer;
  }
  &.active{
    display: block;
  }
}

// レスポンシブ
@media screen and (max-width: 900px) {
  .header{
    padding: 0 20px;
    max-width: 600px;
  }
  .menu{
    width: initial;
    height: 60px;
    &-list{
      position: initial;
      right: initial;
      top: initial;
      transform: none;
      height: initial;
    }
    &-item{
      margin: 0;
      font-size: 13px;
      &-like-img, &-cart-img{
        max-width: 30px;
        position: relative;
        img{
          width: 100%;
        }
        .menu-item-num{
          top: -5px;
          right: -13px;
          width: 22px;
          height: 22px;
          font-size: 13px;
        }
      }
    }
  }
}