.header {
  max-width: 1360px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 40px;
  margin: 0 auto;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.hp-title {
  width: 30%;
}
.hp-title a {
  display: block;
  width: 180px;
  transition: 0.5s;
}
.hp-title a img {
  max-width: 100%;
}
.hp-title a:hover {
  opacity: 0.7;
}

.menu {
  width: 60%;
  height: 100%;
  position: relative;
}
.menu-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.menu-item {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.menu-item a {
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  transition: 0.3s;
  font-weight: 500;
}
.menu-item a:hover {
  background-color: #eee;
}
.menu-item-like-img, .menu-item-cart-img {
  max-width: 20px;
  position: relative;
  margin: 5px 5px 0 5px;
}
.menu-item-like-img img, .menu-item-cart-img img {
  width: 100%;
}
.menu-item-like-img .menu-item-num, .menu-item-cart-img .menu-item-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -14px;
  color: #fff;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  letter-spacing: -2px;
  text-indent: -2px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.menu-item-user, .menu-item-login, .menu-item-register {
  background-color: #669667;
  color: #fff;
  border-radius: 10px;
  padding: 0 8px !important;
}
.menu-item-user:hover, .menu-item-login:hover, .menu-item-register:hover {
  background-color: #777 !important;
}
.menu-item-register {
  background-color: #ccc;
}
.menu #menu-item-user {
  margin-left: 15px;
}

.user-info-list {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 5px 0;
  width: 100px;
  box-sizing: border-box;
  box-shadow: 0 0 6px -2px #777;
  background-color: #fff;
}
.user-info-list .user-info-item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  transition: 0.5s;
}
.user-info-list .user-info-item a:hover {
  background-color: #eee;
}

.user-info-list.active {
  display: block;
}

.ham {
  width: 30px;
  height: 30px;
  top: 25px;
  right: 55px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ham:hover {
  cursor: pointer;
}
.ham .ham__bar {
  width: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
  transition: 0.5s;
}
.ham .ham__bar-1 {
  margin-bottom: 3px;
}
.ham .ham__bar-2 {
  margin-top: 3px;
}
.ham.active .ham__bar {
  background-color: #fff;
}
.ham.active .ham__bar-1 {
  margin-bottom: 0;
  transform: translateY(1px) rotate(-45deg);
}
.ham.active .ham__bar-2 {
  margin-top: 0;
  transform: translateY(-1px) rotate(45deg);
}

.hp-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  z-index: 100;
  transition: 0.5s;
}
.hp-nav .hp-nav-list {
  padding: 40px 0 40px 50px;
  transition: all 0.5s;
}
.hp-nav .hp-nav-list .hp-nav-item {
  margin-bottom: 20px;
}
.hp-nav .hp-nav-list .hp-nav-item a {
  color: #fff;
  transition: 0.5s;
}
.hp-nav .hp-nav-list .hp-nav-item a:hover {
  opacity: 0.7;
}
.hp-nav.active {
  left: 0;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  transition: 0.5s;
}
.mask:hover {
  cursor: pointer;
}
.mask.active {
  display: block;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0 20px;
    max-width: 600px;
  }
  .menu {
    width: initial;
    height: 60px;
  }
  .menu-list {
    position: initial;
    right: initial;
    top: initial;
    transform: none;
    height: initial;
  }
  .menu-item {
    margin: 0;
    font-size: 13px;
  }
  .menu-item-like-img, .menu-item-cart-img {
    max-width: 30px;
    position: relative;
  }
  .menu-item-like-img img, .menu-item-cart-img img {
    width: 100%;
  }
  .menu-item-like-img .menu-item-num, .menu-item-cart-img .menu-item-num {
    top: -5px;
    right: -13px;
    width: 22px;
    height: 22px;
    font-size: 13px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 0.75rem;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.sns-list {
  display: flex;
  justify-content: space-between;
}
.sns-list .sns-item {
  margin-right: 30px;
}

body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 500;
}

header, .wrapper, footer {
  box-sizing: border-box;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.btn {
  color: #fff;
  border: none;
  background-color: #669667;
  border-radius: 3px;
  transition: 0.5s;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.btn a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #aaa;
  padding-left: 10px;
}
input:focus {
  outline: none;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 80px 40px 160px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 20px auto 0;
}
.container .form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
}
.container .form-login-txt {
  margin: 15px 0;
}
.container .form-login input, .container .form-login .btn {
  height: 40px;
  margin-bottom: 10px;
}
.container .register {
  margin-top: 30px;
}
.container .register-txt {
  margin-bottom: 20px;
}
.container .register .btn-register {
  width: 100%;
  height: 40px;
}
.container .register .btn-register a {
  line-height: 40px;
}

.container-register {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto 0;
}
.container-register .form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58%;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
}
.container-register .form-register-txt {
  margin: 15px 0;
}
.container-register .form-register input, .container-register .form-register .btn {
  height: 40px;
  margin-bottom: 10px;
}

.container-mypage {
  max-width: 400px;
  margin: 20px auto 0;
}

.mypage-ttl {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 30px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px #669667 solid;
  color: #669667;
  letter-spacing: 3px;
}

.mypage-info-container {
  border: 1px #669667 solid;
  box-sizing: border-box;
  padding: 5px 15px;
}

.mypage-info {
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-container-like, .btn-container-cart {
  font-size: 1.2rem;
  font-weight: 700;
  width: 48%;
  text-align: center;
}
.btn-container-like a, .btn-container-cart a {
  color: #fff;
  display: block;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.btn-container-like a:hover, .btn-container-cart a:hover {
  opacity: 0.7;
}
.btn-container-like a {
  background-color: #ff84c5;
}
.btn-container-cart a {
  background-color: #06C5F5;
}

.btn-logout {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.btn-logout a {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 20px;
  color: #fff;
  background-color: #669667;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.btn-logout a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .wrapper {
    max-width: 600px;
    padding: 140px 20px 160px;
  }
  .container-register .form-register {
    width: 100%;
  }
}/*# sourceMappingURL=login_logout.css.map */