@use 'header.scss';
@use 'footer.scss';

body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}
a{
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}
h1{
  font-weight: 500;
}
header, .wrapper, footer{
  box-sizing: border-box;
}

// ここからは main です
.wrapper{
  max-width: 1360px;
  margin: 0 auto;
  margin: 0 auto;
  padding: 80px 40px 160px;
}
.shopping-cart-now{
  line-height: 2;
  margin-bottom: 10px;
  a{
    color: #06C5F5;
    padding: 0 2px 5px 2px;
    border-bottom: 1px solid #06C5F5;
  }
}
.section-title{
  margin: 40px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.section-cnt{
  max-width: 600px;
}
.product-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  line-height: 1.5;
  .product-item{
    width: 23%;
    margin-bottom: 40px;
    a{
      display: block;
      margin-bottom: 5px;
      letter-spacing: 1px;
      img{
        max-width: 100%;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.form-container{
  display: flex;
  justify-content: space-between;
  .form-like{
    width: 40px;
  }
  .form-cart{
    width: calc(100% - 48px);
  }
}
.btn-like, .btn-unlike{
  color: #fff;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  display: flex;
  &-img{
    width: 20px;
    margin-top: 3px;
    img{
      width: 100%;
    }
  }
  &:hover{
    cursor: pointer;
    // background-color: #ff84c5;
    opacity: 0.7;
  }
}
.btn-unlike{
  background-color: #ff84c5;
}
.num-container{
  display: flex;
  justify-content: space-between;
  .select-num{
    height: 36px;
    width: 25%;
    border: none;
    border: 1px solid #ddd;
    padding: 5px;
  }
  .btn-cart{
    color: #fff;
    background-color: #06C5F5;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    div{
      font-weight: bold;
    }
    &-img{
      width: 18px;
      margin-right: 10px;
      margin-top: 2px;
      img{
        width: 100%;
      }
    }
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .btn-cart-page{
    width: 72%;
  }
}
.view-more{
  text-align: center;
  line-height: 20px;
  a{
    transition: .3s;
    padding: 5px;
    border-bottom: 1px solid #777;
    &:hover{
      color: #fff;
      background-color: #777;
    }
  }
}
.page{
  text-align: center;
  .to-page{
    margin: 0 18px;
  }
}
#about p{
  line-height: 1.9;
  margin-bottom: 30px;
}
#company dl{
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  margin-bottom: 20px;
  dt{
    box-sizing: border-box;
    width: 30%;
    padding: 20px 0 20px 10px;
    border-bottom: solid 1px #ddd;
    &:last-of-type{
      border-bottom: none;
    }
  }
  dd{
    box-sizing: border-box;
    width: 70%;
    border-bottom: solid 1px #ddd;
    padding: 20px 0;
    &:last-of-type{
      border-bottom: none;
    }
  }
}
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
#item{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-bottom: 60px;
  .item-img{
    width: 50%;
    img{
      max-width: 100%;
    }
  }
  .item-cnt{
    width: 42%;
    .item-cnt-text{
      margin-bottom: 30px;
      line-height: 2;
      letter-spacing: 1px;
    }
    .item-cnt-price{
      margin-bottom: 40px;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
    .item-cnt-info{
      display: flex;
      flex-wrap: wrap;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 30px;
      letter-spacing: 1px;
      .item-cnt-info-ttl{
        width: 25%;
        margin-bottom: 10px;
      }
      .item-cnt-info-cnt{
        width: 75%;
      }
    }
  }
}
.cart-ttl{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 30px 0;
}
#cart{
  display: flex;
  justify-content: center;
  .cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    line-height: 1.5;
    margin-right: 30px;
    .item{
      margin-bottom: 20px;
      width: 49%;
      .item-img{
        max-width: 100%;
        img{
          width: 100%;
        }
      }
      form{
        button{
          border: none;
          color: #fff;
          background-color: #777;
          margin-top: 5px;
          padding: 5px 10px;
          border-radius: 3px;
          transition: 0.3s;
          &:hover{
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .sum-container{
    letter-spacing: 1px;
    line-height: 2;
    .sum-price{
      font-size: 1.5rem;
    }
    .next-buy{
      transition: 0.3s;
      a{
        color: #06C5F5;
      }
      border-bottom: 1px solid #06C5F5;
      &:hover{
        background-color: #06C5F5;
        cursor: pointer;
        a{
          color: #fff;
        }
      }
    }
  }
}

// レスポンシブ
@media screen and (max-width: 900px) {
  .product-list{
    .product-item{
      width: 47%;
    }
  }
  .num-container{
    flex-direction: column;
    .select-num{
      width: 100%;
      padding-left: 10px;
      margin-bottom: 5px;
    }
    .btn-cart{
      width: 100%;
    }
  }
  #cart{
    flex-direction: column;
    .cart{
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
      box-sizing: border-box;
    }
    .sum-container{
      margin: 0 auto;
      padding: 10px 0;
    }
  }
  #item{
    flex-wrap: wrap;
    max-width: 100%;
    .item-img{
      width: 100%;
      margin-bottom: 40px;
    }
    .item-cnt{
      width: 100%;
    }
  }
  .num-container{
    .select-num{
      width: 19%;
      padding: 0;
    }
    .btn-cart{
      width: 80%;
      font-weight: initial;
      font-size: 0.4rem;
    }
  }
  footer{
    flex-direction: column;
    .sns-list{
      justify-content: start;
      margin-bottom: 10px;
    }
  }
}