@use 'header.scss';
@use 'footer.scss';

body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
  // font-family: 'Zen Kaku Gothic Antique', sans-serif;
  // font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Noto Serif JP', serif;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
}
h1{
  font-weight: 500;
}
header, .wrapper, footer{
  box-sizing: border-box;
}
.pc{
  display: block;
}
.sp{
  display: none;
}

// ここからは main です
.wrapper{
  max-width: 1360px;
  margin: 0 auto;
  padding: 80px 40px 160px;
}
.shopping-cart-now{
  line-height: 2;
  margin-bottom: 10px;
  a{
    color: #06C5F5;
    padding: 0 2px 5px 2px;
    border-bottom: 1px solid #06C5F5;
  }
}
.section-title{
  margin: 40px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.section-cnt{
  max-width: 600px;
}
.product-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  line-height: 1.5;
  .product-item{
    width: 23%;
    margin-bottom: 40px;
    a{
      display: block;
      margin-bottom: 5px;
      letter-spacing: 1px;
      img{
        max-width: 100%;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover{
          opacity: 0.8;
        }
      }
      .product-name{
        letter-spacing: 0;
        font-weight: 500;
      }
      .product-price{
        color: tomato;
        font-weight: 700;
        font-size: 1.2rem;
        span{
          font-size: 1rem;
        }
      }
    }
  }
}
.form-container{
  display: flex;
  justify-content: space-between;
  .form-like{
    width: 40px;
  }
  .form-cart{
    width: calc(100% - 48px);
  }
}
.btn-like, .btn-unlike{
  color: #fff;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  display: flex;
  &-img{
    width: 20px;
    margin-top: 3px;
    img{
      width: 100%;
    }
  }
  &:hover{
    cursor: pointer;
    // background-color: #ff84c5;
    opacity: 0.7;
  }
}
.btn-unlike{
  background-color: #ff84c5;
}
.num-container{
  display: flex;
  justify-content: space-between;
  .select-num{
    height: 36px;
    width: 25%;
    border: none;
    border: 1px solid #ddd;
    padding: 5px;
  }
  .btn-cart{
    color: #fff;
    background-color: #06C5F5;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    div{
      font-weight: bold;
    }
    &-img{
      width: 18px;
      margin-right: 10px;
      margin-top: 2px;
      img{
        width: 100%;
      }
    }
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .btn-cart-page{
    width: 72%;
  }
}
.view-more{
  text-align: center;
  line-height: 20px;
  a{
    transition: .3s;
    padding: 5px;
    border-bottom: 1px solid #777;
    &:hover{
      color: #fff;
      background-color: #777;
    }
  }
}
.page{
  text-align: center;
  .to-page{
    margin: 0 18px;
  }
}
#about p{
  line-height: 1.9;
  margin-bottom: 30px;
}
#company dl{
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  margin-bottom: 20px;
  dt{
    box-sizing: border-box;
    width: 30%;
    padding: 20px 0 20px 10px;
    border-bottom: solid 1px #ddd;
    &:last-of-type{
      border-bottom: none;
    }
  }
  dd{
    box-sizing: border-box;
    width: 70%;
    border-bottom: solid 1px #ddd;
    padding: 20px 0;
    &:last-of-type{
      border-bottom: none;
    }
  }
}
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
#item{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-bottom: 60px;
  .item-img{
    width: 50%;
    img{
      max-width: 100%;
    }
  }
  .item-cnt{
    width: 42%;
    .item-cnt-text{
      margin-bottom: 30px;
      line-height: 2;
      letter-spacing: 1px;
    }
    .item-cnt-price{
      margin-bottom: 40px;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
    .item-cnt-info{
      display: flex;
      flex-wrap: wrap;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 30px;
      letter-spacing: 1px;
      .item-cnt-info-ttl{
        width: 25%;
        margin-bottom: 10px;
      }
      .item-cnt-info-cnt{
        width: 75%;
      }
    }
  }
}
#like{
  max-width: 600px;
  margin: 0 auto;
  .like{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.5;
    &-ttl{
      font-size: 1.3rem;
      font-weight: 200;
      margin: 30px 0 20px;
      padding-bottom: 10px;
      border-bottom: 1px #669667 solid;
      color: #669667;
      letter-spacing: 3px;
    }
    .item{
      padding: 15px 0;
      display: flex;
      border-bottom: 1px solid #ccc;
      transition: 0.3s;
      &-img{
        max-width: 30%;
        margin-right: 20px;
        img{
          width: 100%;
        }
      }
      &-cnt{
        &-ttl{
          font-size: 1.2rem;
          font-weight: 700;
        }
        &-des{
          font-weight: 300;
          letter-spacing: 1px;
          height: 95px;
          overflow: auto;
          font-size: 0.8rem;
          border: 1px solid #eee;
          padding: 5px;
          box-sizing: border-box;
          margin: 10px 0;
          display: flex;
          align-items: center;
        }
        .price-container{
          display: flex;
          justify-content: space-between;
        }
        &-price{
          font-size: 1.6rem;
          color: tomato;
          letter-spacing: 2px;
        }
        .btn-container{
          display: flex;
          justify-content: right;
          .btn-buy{
            color: #fff;
            background-color: #669667;
            border: none;
            margin: 5px 15px 0 0;
            padding: 5px 20px;
            border-radius: 3px;
            transition: 0.3s;
            display: block;
            height: 25px;
            line-height: 25px;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            text-indent: 1px;
            &:hover{
              cursor: pointer;
              opacity: 0.7;
            }
          }
          form{
            button{
              border: none;
              color: #fff;
              background-color: #777;
              margin-top: 5px;
              padding: 5px 10px;
              border-radius: 3px;
              transition: 0.3s;
              line-height: 35px;
              width: 40px;
              height: 35px;
              display: block;
              .delete-img{
                max-width: 100%;
                img{
                  width: 100%;
                }
              }
              &:hover{
                cursor: pointer;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  .empty-txt1{
    color: #669667;
    font-weight: 700;
    font-size: 2rem;
    text-indent: -4px;
    margin-bottom: 20px;
  }
  .empty-txt2{
    color: #fff;
    background-color: #669667;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 10px;
  }
  .next-buy{
    color: #669667;
    display: block;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
    font-size: 1.8rem;
    border: 1px solid #669667;
    transition: 0.3s;
    a{
      color: #669667;
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    &:hover{
      background-color: #669667;
      cursor: pointer;
      a{
        color: #fff;
      }
    }
  }
}
#cart{
  max-width: 650px;
  margin: 0 auto;
  .cart-ttl{
    font-size: 1.3rem;
    font-weight: 200;
    margin: 30px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px #669667 solid;
    color: #669667;
    letter-spacing: 3px;
  }
  .cart-container{
    display: flex;
    justify-content: space-between;
    .cart{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 1.5;
      width: 450px;
      .item{
        padding: 15px 0;
        display: flex;
        border-bottom: 1px solid #ccc;
        transition: 0.3s;
        &-img{
          max-width: 30%;
          margin-right: 20px;
          img{
            width: 100%;
          }
        }
        &-cnt{
          &-ttl{
            font-size: 1rem;
          }
          &-price{
            font-size: 1.2rem;
            color: tomato;
            letter-spacing: 2px;
            margin: 5px 0;
          }
          &-num{
            font-size: 1rem;
            letter-spacing: 2px;
            margin-top: 3px;
          }
          .btn-container{
            display: flex;
            margin-top: 8px;
            .btn-buy{
              color: #fff;
              background-color: #669667;
              border: none;
              margin: 5px 15px 0 0;
              padding: 5px 20px;
              border-radius: 3px;
              transition: 0.3s;
              display: block;
              height: 25px;
              font-size: 1rem;
              font-weight: 300;
              letter-spacing: 2px;
              text-indent: -2px;
              &:hover{
                cursor: pointer;
                opacity: 0.7;
              }
            }
            form{
              button{
                border: none;
                color: #fff;
                background-color: #777;
                margin-top: 5px;
                padding: 5px 10px;
                border-radius: 3px;
                transition: 0.3s;
                line-height: 35px;
                width: 40px;
                height: 35px;
                display: block;
                .delete-img{
                  max-width: 100%;
                  img{
                    width: 100%;
                  }
                }
                &:hover{
                  cursor: pointer;
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
    .sum-container{
      letter-spacing: 1px;
      line-height: 2;
      width: 180px;
      .sum-price{
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-top: -10px;
      }
      .pay{
        background-color: tomato;
        font-size: 1.4rem;
        border-radius: 10px;
        margin-top: 5px;
        transition: 0.3s;
        a{
          color: #fff;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        &:hover{
          opacity: 0.7;
          cursor: pointer;
        }
      }
      .next-buy{
        color: #669667;
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 1rem;
        border: 1px solid #669667;
        transition: 0.3s;
        a{
          color: #669667;
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover{
          background-color: #669667;
          cursor: pointer;
          a{
            color: #fff;
          }
        }
      }
    }
  }
  .empty-txt{
    &-1{
      color: #669667;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.4;
      margin-bottom: 20px;
      letter-spacing: 0;
    }
    &-2{
      color: #fff;
      background-color: #669667;
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 4px;
      text-indent: 0;
      margin-bottom: 20px;
      line-height: 1.5;
      padding: 10px;
    }
    .next-buy{
      color: #669667;
      display: block;
      text-align: center;
      margin-top: 20px;
      letter-spacing: 3px;
      font-size: 1.8rem;
      border: 1px solid #669667;
      transition: 0.3s;
      a{
        color: #669667;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }
      &:hover{
        background-color: #669667;
        cursor: pointer;
        a{
          color: #fff;
        }
      }
    }
  }
}

// レスポンシブ
@media screen and (max-width: 900px) {
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }
  .wrapper{
    max-width: 600px;
    padding: 140px 20px 160px;
  }
  .product-list{
    .product-item{
      width: 100%;
      a{
        display: flex;
        img{
          max-width: 40%;
        }
        .product-cnt{
          margin-left: 10px;
          width: 59%;
          .product-name{
            font-weight: initial;
          }
          .product-price{
            font-size: 1.3rem;
            span{
              font-size: 1rem;
            }
          }
          .form-container{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            .form-like{
              width: 100%;
            }
            .form-cart{
              width: 100%;
            }
          }
        }
      }
    }
  }
  #like{
    max-width: 600px;
    margin: 0 auto;
    .like{
      .item{
        &-cnt{
          &-ttl{
            font-size: initial;
          }
          &-des{
            display: none;
          }
          .price-container{
            flex-direction: column;
          }
          .btn-container{
            justify-content: initial;
            margin-top: 5px;
          }
        }
      }
    }
    .empty-txt1{
      text-indent: initial;
      line-height: 1.4;
    }
  }
  #cart{
    .cart-container{
      flex-direction: column;
      .cart{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
        .item{
          &-img{
            margin-right: 10px;
            max-width: 32%;
          }
          &-cnt{
            &-ttl{
              font-size: 0.9rem;
            }
            &-price{
              margin: 0;
              font-size: 1.1rem;
            }
            &-num{
              margin-top: 0;
              font-size: 0.9rem;
            }
            .btn-container{
              margin-top: 0;
              .btn-buy{
                margin: 3px 15px 0 0;
              }
              form{
                button{
                  margin-top: 3px;
                }
              }
            }
          }
        }
      }
      .sum-container{
        margin: 0 auto;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        .price-container-sp{
          display: flex;
          justify-content: space-between;
        }
        .pay{
          width: 50%;
          height: 55px;
          a{
            line-height: 55px;
          }
        }
        .next-buy{
          height: 40px;
          a{
            line-height: 40px;
          }
        }
      }
    }
    .empty-txt{
      margin-top: -20px;
      &-1{
        text-indent: initial;
        line-height: 1.4;
      }
    }
  }
  #item{
    flex-wrap: wrap;
    max-width: 100%;
    .item-img{
      width: 100%;
      margin-bottom: 40px;
    }
    .item-cnt{
      width: 100%;
    }
  }
  .btn-like, .btn-unlike{
    &-img{
      width: 24px;
      margin: 10px 8px 0 0;
      display: flex;
      justify-content: center;
      img{
        max-width: 100% !important;
      }
    }
    div{
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .num-container{
    flex-direction: column;
    .select-num{
      width: 19%;
      padding: 0;
    }
    .btn-cart{
      width: 100%;
      font-weight: initial;
      font-size: initial;
      margin-top: 8px;
      &-img{
        width: 20px;
        margin-top: 13px;
        img{
          max-width: 100% !important;
        }
      }
    }
  }
  footer{
    flex-direction: column;
    .sns-list{
      justify-content: start;
      margin-bottom: 10px;
    }
  }
}