.news-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.news-item{
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  margin-bottom: 40px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.news-img{
  width: 100%;
}