@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.lightup {
  background: linear-gradient(transparent 60%, rgba(74, 226, 218, 0.6) 60%);
  padding: 0 5px;
}

.display-pc, .br-pc {
  display: block;
}
.display-sp, .br-sp {
  display: none;
}

/* アニメーション */
.scroll_left {
  -webkit-transition: 0.5s ease-in-out;
  transform: translateX(-30px);
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.scroll_right {
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: translateX(30px);
  transition: 0.5s ease-in-out;
  transform: translateX(30px);
  opacity: 0;
}

.scroll_left.on, .scroll_right.on {
  transform: translateX(0);
  opacity: 1;
}

.scroll_up {
  transition: 0.5s ease-in-out;
  transform: translateY(-30px);
  opacity: 0;
}

.scroll_up.on {
  opacity: 1;
  transform: translateY(0);
}

.scroll_center {
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: scale(80%);
  transition: 0.5s ease-in-out;
  transform: scale(80%);
  opacity: 0;
}

.scroll_center.on {
  transform: scale(100%);
  opacity: 1;
}

/* メイン構造（固定部） */
.body {
  display: flex;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  width: 35vw;
  max-width: 400px;
  background-color: rgba(147, 194, 203, 0.9);
}
.header-inner {
  position: relative;
  z-index: 2;
  padding: 0 40px;
}
.header-inner a {
  color: #fff;
}
.header-inner .header-ttl-container {
  display: flex;
}
.header-inner .header-ttl {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 80px;
  line-height: 1.6;
}
.header-inner .header-nav {
  margin-top: 80px;
}
.header-inner .header-nav ul {
  display: flex;
  flex-direction: column;
}
.header-inner .header-nav ul li {
  margin: 20px 0;
}
.header-inner .header-nav ul li a {
  position: relative;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 4px;
  transition: 0.5s;
}
.header-inner .header-nav ul li a:hover {
  letter-spacing: 8px;
}
.header-inner .header-nav ul li a:hover::after {
  transform: scale(100%);
}
.header-inner .header-nav ul li a::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -32%;
  left: -16%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.header-inner .header-sns {
  margin-top: 80px;
}
.header-inner .header-sns .header-sns-item {
  margin-bottom: 20px;
}
.header-inner .header-sns .header-sns-item a {
  display: block;
  max-width: 20px;
}
.header-inner .header-sns .header-sns-item a img {
  width: 100%;
}
.header-background {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  width: 35vw;
  max-width: 400px;
  background: no-repeat left/cover url(../img/fv.jpg);
  opacity: 0.2;
}

.main {
  width: 65vw;
  margin-left: 35vw;
}

.footer {
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 1rem;
  font-weight: 300;
  text-indent: 1.6px;
  letter-spacing: 1.6px;
  z-index: 2;
}
.footer.display-pc {
  position: absolute;
  bottom: 0;
}

/* コンテンツ部 */
.fv {
  height: 300px;
}
.fv-inner {
  position: relative;
  height: 100%;
}
.fv-inner .fv-slogan {
  color: #333;
  font-size: 6rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.2;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 330px;
  transform: translateX(calc(-50% - 60px));
  z-index: 3;
}
.fv-inner .fv-block--blue {
  height: 300px;
  width: 200px;
  background-color: rgba(173, 216, 230, 0.6);
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 80px));
  z-index: 1;
}
.fv-inner .fv-profile {
  position: absolute;
  height: 300px;
  width: 200px;
  background: no-repeat center/contain url(../img/photographer.png);
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translateX(calc(-50% + 150px));
}

.section {
  margin: 30px auto 40px;
  max-width: 900px;
  width: clac(65vw -2vw);
}
.section-ttl {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  text-indent: 8px;
  letter-spacing: 8px;
  margin-bottom: 40px;
}

#skills {
  margin-top: 80px;
  padding: 0 40px;
  box-sizing: border-box;
}
#skills .skills-cnt-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#skills .skills-cnt-item {
  width: 32%;
  margin-bottom: 30px;
}
#skills .skills-cnt-item-img {
  max-width: 40%;
  margin: 10px auto;
}
#skills .skills-cnt-item-img img {
  width: 100%;
  border-radius: 10px;
}
#skills .skills-cnt-item-ttl {
  text-align: center;
  font-size: 1.6rem;
  text-indent: 2px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
#skills .skills-cnt-item-txt {
  font-size: 1.2rem;
  text-indent: 1px;
  letter-spacing: 1px;
  line-height: 1.6;
  text-align: center;
}

#works {
  padding: initial;
  margin-top: 0;
}
#works .works-cnt-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#works .works-cnt-item {
  width: 46%;
  margin-bottom: 30px;
}
#works .works-cnt-item-img {
  display: block;
  max-width: 98%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#works .works-cnt-item-img::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
#works .works-cnt-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 0 4px -1px #aaa;
  display: block;
  transform: scale(98%);
  transition: 0.3s;
}
#works .works-cnt-item-ttl {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  text-indent: 1.4px;
  letter-spacing: 1.4px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#works .works-cnt-item-ttl::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 151, 201, 0.8);
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  z-index: 3;
}
#works .works-cnt-item-ttl::after {
  display: block;
  content: "サイトを開く";
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2;
  font-weight: 700;
  text-indent: 1.4px;
  letter-spacing: 1.4px;
  position: absolute;
  top: -100%;
  left: 0;
  transition: 0.3s;
  z-index: 4;
}
#works .works-cnt-item-txt {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
  overflow-wrap: break-word;
}
#works .works-cnt-item a {
  display: block;
}
#works .works-cnt-item a:hover .works-cnt-item-img img {
  transform: scale(105%);
}
#works .works-cnt-item a:hover .works-cnt-item-img::after {
  opacity: 0.4;
}
#works .works-cnt-item a:hover .works-cnt-item-ttl::before {
  left: 0;
}
#works .works-cnt-item a:hover .works-cnt-item-ttl::after {
  top: 0;
}
#works .works-cnt-item a:hover .works-cnt-item-txt span {
  border-bottom: solid 1px #aaa;
}

#about {
  max-width: 480px;
  margin-top: 80px;
  padding: 0 40px;
}
#about .section-ttl {
  text-align: left;
  position: relative;
}
#about .section-ttl::after {
  display: block;
  content: "";
  width: 100px;
  height: 200px;
  background-color: rgba(173, 216, 230, 0.4);
  position: absolute;
  left: 55px;
  top: -80px;
  z-index: -1;
}
#about .about-cnt {
  margin-top: 60px;
  position: relative;
}
#about .about-cnt-photo {
  position: absolute;
  top: -20px;
  left: -20px;
}
#about .about-cnt-photo-inner {
  max-width: 160px;
}
#about .about-cnt-photo-inner img {
  width: 100%;
}
#about .about-cnt-photo::before {
  display: block;
  content: "";
  width: 145px;
  height: 225px;
  background-color: rgba(46, 189, 255, 0.15);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}
#about .about-cnt-photo::after {
  display: block;
  content: "";
  width: 165px;
  height: 245px;
  background-color: rgba(46, 189, 255, 0.2);
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}
#about .about-cnt-photo:hover::before {
  opacity: 0;
}
#about .about-cnt-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  letter-spacing: 1.4px;
  margin-left: 180px;
  padding-top: 16px;
  width: 300px;
}
#about .about-cnt-list-ttl, #about .about-cnt-list-txt {
  height: 40px;
}
#about .about-cnt-list-ttl {
  width: 90px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
}
#about .about-cnt-list-txt {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
}
#about .about-cnt-list-txt-skill {
  height: 96px;
}
#about .about-cnt-txt {
  margin-top: 24px;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: -20px;
}
#about .about-cnt-txt p {
  line-height: 2;
  margin-bottom: 20px;
}

/* レスポンシブ */
@media screen and (min-width: 1142px) {
  .main {
    width: calc(100vw - 400px);
    margin-left: 400px;
  }
}
@media screen and (max-width: 800px) {
  .display-pc, .br-pc {
    display: none;
  }
  .display-sp, .br-sp {
    display: block;
  }
  .body {
    display: block;
  }
  .header {
    position: relative;
    height: initial;
    width: initial;
    max-width: initial;
    background-color: initial;
  }
  .header-inner a {
    color: #333;
  }
  .header-inner .header-ttl-container {
    justify-content: space-between;
  }
  .header-inner .header-ttl-container .header-sns {
    margin: 46px 10px 0 0;
  }
  .header-inner .header-ttl-container .header-sns ul {
    display: flex;
    align-items: center;
  }
  .header-inner .header-ttl-container .header-sns ul .header-sns-item {
    margin-bottom: initial;
  }
  .header-inner .header-ttl-container .header-sns ul .header-sns-item a {
    max-width: 20px;
  }
  .header-inner .header-ttl {
    font-size: 2.6rem;
    letter-spacing: 4px;
    margin-top: 40px;
    line-height: 1.4;
  }
  .header-inner .header-nav {
    margin-top: 25px;
  }
  .header-inner .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 0 20px 40px;
  }
  .header-inner .header-nav ul li {
    margin: 0 10px;
  }
  .header-inner .header-nav ul li a {
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    text-indent: 1.4px;
  }
  .header-inner .header-nav ul li a:hover {
    letter-spacing: 4px;
  }
  .header-inner .header-nav ul li a::after {
    background-color: rgba(173, 216, 230, 0.6);
    top: -50%;
  }
  .header-background {
    display: none;
  }
  .main {
    width: initial;
    margin-left: initial;
  }
  .fv {
    position: relative;
    height: 240px;
    background-color: rgba(147, 194, 203, 0.7);
  }
  .fv-inner {
    position: relative;
    z-index: 2;
    height: 100%;
    overflow: hidden;
  }
  .fv-inner .fv-slogan {
    color: #fff;
    font-size: 3.6rem;
    bottom: 50px;
    width: 250px;
    transform: translateX(-60%);
    line-height: 1.4;
    z-index: 3;
  }
  .fv-inner .fv-block--blue {
    width: 180px;
    height: 240px;
    transform: translateX(calc(-50% + 60px));
    background-color: rgba(173, 216, 230, 0.4);
  }
  .fv-inner .fv-profile {
    transform: translateX(calc(-50% + 100px));
  }
  .fv-background {
    position: absolute;
    top: 0;
    height: 240px;
    width: 100%;
    background: no-repeat left/cover url(../img/fv.jpg);
    opacity: 0.2;
    z-index: 1;
  }
  .section {
    padding: 0 4vw;
    width: initial;
  }
  #skills {
    margin-top: 60px;
    padding: 0 4vw;
  }
  #skills .skills-cnt-list {
    justify-content: space-around;
  }
  #skills .skills-cnt-item {
    width: 45%;
  }
  #works .works-cnt-item {
    width: 90%;
  }
  #about {
    margin-top: 20px;
  }
  #about .section-ttl {
    text-align: left;
    text-indent: initial;
  }
  #about .section-ttl::after {
    width: 360px;
    height: 50px;
    left: -200px;
    top: 22px;
    background-color: rgba(173, 216, 230, 0.4);
    z-index: -1;
  }
  #about .section-ttl::before {
    display: block;
    content: "";
    position: absolute;
    width: 360px;
    height: 50px;
    left: -200px;
    top: 22px;
    background: top/cover url(../img/fv.jpg);
    z-index: -1;
    opacity: 0.3;
  }
  #about .about-cnt-photo {
    top: -40px;
    left: 30px;
  }
  #about .about-cnt-photo::before {
    width: 150px;
    height: 230px;
    left: 0;
    top: 0;
  }
  #about .about-cnt-photo::after {
    width: 160px;
    height: 240px;
    left: -10px;
    top: -10px;
  }
  #about .about-cnt-photo:hover::before {
    opacity: 0;
  }
  #about .about-cnt-list {
    margin-left: 30px;
    padding-top: 220px;
    width: initial;
  }
  #about .about-cnt-list-ttl, #about .about-cnt-list-txt {
    height: 30px;
  }
  #about .about-cnt-list-ttl {
    max-width: 100px;
    width: 25%;
    font-size: 1.2rem;
  }
  #about .about-cnt-list-txt {
    width: 75%;
    font-size: 1.2rem;
  }
  #about .about-cnt-list-txt-skill {
    height: 84px;
  }
  #about .about-cnt-txt {
    font-size: 1rem;
    padding: 0 30px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-left: initial;
  }
}/*# sourceMappingURL=style.css.map */