@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.lightup {
  background: linear-gradient(transparent 60%, rgba(74, 226, 218, 0.6) 60%);
  padding: 0 5px;
}

.display-pc, .br-pc {
  display: block;
}
.display-sp, .br-sp {
  display: none;
}

/* メイン構造（固定部） */
.body {
  display: flex;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  width: 30vw;
  background-color: rgba(147, 194, 203, 0.8);
}
.header-inner {
  position: relative;
  z-index: 2;
  padding-left: 40px;
}
.header-inner a {
  color: #fff;
}
.header-inner .header-ttl {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 40px;
  line-height: 1.6;
}
.header-inner .header-nav {
  margin-top: 120px;
}
.header-inner .header-nav ul {
  display: flex;
  flex-direction: column;
}
.header-inner .header-nav ul li {
  margin: 20px 0;
}
.header-inner .header-nav ul li a {
  position: relative;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 4px;
  transition: 0.5s;
}
.header-inner .header-nav ul li a:hover {
  letter-spacing: 8px;
}
.header-inner .header-nav ul li a:hover::after {
  transform: scale(100%);
}
.header-inner .header-nav ul li a::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -32%;
  left: -16%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.header-background {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  width: 30vw;
  background: no-repeat left/cover url(../img/fv.jpg);
  opacity: 0.2;
}

.main {
  width: 70vw;
  margin-left: 30vw;
}

.footer {
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 1rem;
  font-weight: 300;
  text-indent: 1.6px;
  letter-spacing: 1.6px;
  z-index: 2;
}
.footer.display-pc {
  position: absolute;
  bottom: 0;
}

/* コンテンツ部 */
.fv {
  height: 300px;
}
.fv-inner {
  position: relative;
  height: 100%;
}
.fv-inner .fv-slogan {
  color: #333;
  font-size: 6rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.2;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 330px;
  transform: translateX(calc(-50% - 80px));
  z-index: 3;
}
.fv-inner .fv-block--blue {
  height: 300px;
  width: 200px;
  background-color: rgba(173, 216, 230, 0.6);
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 80px));
  z-index: 1;
}
.fv-inner .fv-profile {
  position: absolute;
  height: 300px;
  width: 200px;
  background: no-repeat center/contain url(../img/photographer.png);
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translateX(calc(-50% + 130px));
}

.section {
  margin: 30px auto 0;
  max-width: 800px;
  width: 68vw;
}
.section-ttl {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  text-indent: 8px;
  letter-spacing: 8px;
  margin-bottom: 40px;
}

#skills {
  margin-top: 100px;
  padding: 0 40px;
  box-sizing: border-box;
}
#skills .skills-cnt-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#skills .skills-cnt-item {
  width: 32%;
  margin-bottom: 30px;
}
#skills .skills-cnt-item-img {
  max-width: 40%;
  margin: 10px auto;
}
#skills .skills-cnt-item-img img {
  width: 100%;
}
#skills .skills-cnt-item-ttl {
  text-align: center;
  font-size: 1.6rem;
  text-indent: 2px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
#skills .skills-cnt-item-txt {
  font-size: 1.2rem;
  text-indent: 1px;
  letter-spacing: 1px;
  line-height: 1.6;
  text-align: center;
}

#works {
  padding: initial;
  margin-top: 0;
}
#works .works-cnt-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#works .works-cnt-item {
  width: 46%;
  margin-bottom: 30px;
}
#works .works-cnt-item-img {
  max-width: 98%;
  margin: 0 auto;
}
#works .works-cnt-item-img img {
  width: 100%;
}
#works .works-cnt-item-ttl {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.2;
  text-align: center;
  text-indent: 2px;
  letter-spacing: 1.6px;
}
#works .works-cnt-item-txt {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* レスポンシブ */
@media screen and (max-width: 800px) {
  .display-pc, .br-pc {
    display: none;
  }
  .display-sp, .br-sp {
    display: block;
  }
  .body {
    display: block;
  }
  .header {
    position: relative;
    height: initial;
    width: initial;
    background-color: initial;
  }
  .header-inner a {
    color: #333;
  }
  .header-inner .header-ttl {
    font-size: 2rem;
    letter-spacing: 6px;
    margin-top: 40px;
    line-height: 1.4;
  }
  .header-inner .header-nav {
    margin-top: 25px;
  }
  .header-inner .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 30px 20px 40px;
  }
  .header-inner .header-nav ul li {
    margin: 0 10px;
  }
  .header-inner .header-nav ul li a {
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    text-indent: 1.4px;
  }
  .header-inner .header-nav ul li a:hover {
    letter-spacing: 4px;
  }
  .header-inner .header-nav ul li a::after {
    background-color: rgba(173, 216, 230, 0.6);
    top: -50%;
  }
  .header-background {
    display: none;
  }
  .main {
    width: initial;
    margin-left: initial;
  }
  .fv {
    position: relative;
    height: 240px;
    background-color: rgba(147, 194, 203, 0.7);
  }
  .fv-inner {
    position: relative;
    z-index: 2;
    height: 100%;
    overflow: hidden;
  }
  .fv-inner .fv-slogan {
    color: #fff;
    font-size: 3.6rem;
    bottom: 50px;
    width: 250px;
    transform: translateX(-60%);
    line-height: 1.4;
    z-index: 3;
  }
  .fv-inner .fv-block--blue {
    width: 180px;
    height: 240px;
    transform: translateX(calc(-50% + 60px));
    background-color: rgba(173, 216, 230, 0.4);
  }
  .fv-inner .fv-profile {
    transform: translateX(calc(-50% + 100px));
  }
  .fv-background {
    position: absolute;
    top: 0;
    height: 240px;
    width: 100%;
    background: no-repeat left/cover url(../img/fv.jpg);
    opacity: 0.2;
    z-index: 1;
  }
  .section {
    padding: 0 4vw;
    width: initial;
  }
  #skills {
    margin-top: 60px;
    padding: 0 4vw;
  }
  #skills .skills-cnt-list {
    justify-content: space-around;
  }
  #skills .skills-cnt-item {
    width: 45%;
  }
  #works .works-cnt-item {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */