@charset "utf-8";

/* 共通部分 */
html{
  font-size: 62.5%;
}
body{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Noto Serif JP', serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
.lightup{
  background:linear-gradient(transparent 60%, rgba($color: #4ae2da, $alpha: 0.6) 60%);
  padding: 0 5px;
}
.display, .br{
  &-pc{
    display: block;
  }
  &-sp{
    display: none;
  }
}

/* アニメーション */
// scroll effect
.scroll_left{
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.scroll_right{
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: translateX(30px);
  transition: 0.5s ease-in-out;
  transform: translateX(30px);
  opacity: 0;
}
.scroll_left.on, .scroll_right.on{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1.0;
}
.scroll_up{
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  transform: translateY(-30px);
  opacity: 0;
}
.scroll_up.on{
  opacity: 1.0;
  transform: translateY(0);
}
.scroll_center{
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: scale(80%);
  transition: 0.5s ease-in-out;
  transform: scale(80%);
  opacity: 0;
}
.scroll_center.on{
  -webkit-transform: scale(100%);
  transform: scale(100%);
  opacity: 1.0;
}

/* メイン構造（固定部） */
.body{
  display: flex;
}
$header-width: 35vw;
.header{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  width: $header-width;
  max-width: 400px;
  background-color: rgba($color: #93C2CB, $alpha: 0.9);
  &-inner{
    position: relative;
    z-index: 2;
    padding: 0 40px;
    a{
      color: #fff;
    }
    .header-ttl-container{
      display: flex;
    }
    .header-ttl{
      font-family: 'Lato', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 4px;
      margin-top: 80px;
      line-height: 1.6;
    }
    .header-nav{
      margin-top: 80px;
      ul{
        display: flex;
        flex-direction: column;
        li{
          margin: 20px 0;
          a{
            position: relative;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 4px;
            transition: 0.5s;
            &:hover{
              letter-spacing: 8px;
              &::after{
                transform: scale(100%);
              }
            }
            &::after{
              display: block;
              content: "";
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgba($color: #fff, $alpha: 0.4);
              position: absolute;
              top: -32%;
              left: -16%;
              z-index: -1;
              transform: scale(0);
              transition: 0.5s;
            }
          }
        }
      }
    }
    .header-sns{
      margin-top: 80px;
      .header-sns-item{
        margin-bottom: 20px;
        a{
          display: block;
          max-width: 20px;
          transition: 0.3s;
          &:hover{
            opacity: 0.7;
          }
          img{
            width: 100%;
          }
        }
      }
    }
  }
  &-background{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    height: 100dvh;
    width: $header-width;
    max-width: 400px;
    background: no-repeat left/cover url(../img/fv.jpg);
    opacity: 0.2;
  }
}
.main{
  width: calc(100vw - $header-width);
  margin-left: $header-width;
}
.footer{
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 1rem;
  font-weight: 300;
  text-indent: 1.6px;
  letter-spacing: 1.6px;
  z-index: 2;
  &.display-pc{
    position: absolute;
    bottom: 0;
  }
}

/* コンテンツ部 */
.fv{
  height: 300px;
  &-inner{
    position: relative;
    height: 100%;
    .fv-slogan{
      color: #333;
      font-size: 6rem;
      font-style: italic;
      font-weight: 900;
      letter-spacing: 3px;
      line-height: 1.2;
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 330px;
      transform: translateX(calc(-50% - 60px));
      z-index: 3;
    }
    .fv-block--blue{
      height: 300px;
      width: 200px;
      background-color: rgba($color: lightblue, $alpha: 0.6);
      position: absolute;
      left: 50%;
      transform: translateX(calc(-50% + 80px));
      z-index: 1;
    }
    .fv-profile{
      position: absolute;
      height: 300px;
      width: 200px;
      background: no-repeat center/contain url(../img/photographer.png);
      z-index: 2;
      left: 50%;
      bottom: 0;
      transform: translateX(calc(-50% + 150px));
    }
  }
}
.section{
  // background-color: tomato; // 仮
  margin: 30px auto 40px;
  max-width: 900px;
  width: clac(100vw - $header-width -2vw);
  &-ttl{
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    text-indent: 8px;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
}
#skills{
  margin-top: 80px;
  padding: 0 40px;
  box-sizing: border-box;
  .skills{
    &-cnt{
      &-list{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      &-item{
        width: 32%;
        margin-bottom: 30px;
        &-img{
          max-width: 55%;
          margin: 10px auto;
          img{
            width: 100%;
            border-radius: 10px;
          }
        }
        &-ttl{
          text-align: center;
          font-size: 1.6rem;
          text-indent: 2px;
          letter-spacing: 2px;
          margin-bottom: 15px;
        }
        &-txt{
          font-size: 1.2rem;
          text-indent: 1px;
          letter-spacing: 1px;
          line-height: 1.6;
          text-align: center;
        }
      }
    }
  }
}
#works{
  padding: initial;
  margin-top: 0;
  .works{
    &-cnt{
      &-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      &-item{
        // background-color: #eee; // 仮
        width: 46%;
        margin-bottom: 30px;
        &-img{
          display: block;
          max-width: 98%;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          &::after{
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #aaa;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            box-shadow: 0 0 6px -3px #aaa;
            display: block;
            transform: scale(95%);
            transition: 0.3s;
          }
        }
        &-ttl{
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.8;
          text-align: center;
          text-indent: 1.4px;
          letter-spacing: 1.4px;
          margin-top: 10px;
          display: inline-block;
          width: 100%;
          position: relative;
          overflow: hidden;
          &::before{
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba($color: rgb(0, 151, 201), $alpha: 0.8);
            position: absolute;
            top: 0;
            left: -100%;
            transition: 0.3s;
            z-index: 3;
          }
          &::after{
            display: block;
            content: "サイトを開く";
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 1.6rem;
            line-height: 2.2;
            font-weight: 700;
            text-indent: 1.4px;
            letter-spacing: 1.4px;
            position: absolute;
            top: -100%;
            left: 0;
            transition: 0.3s;
            z-index: 4;
          }
        }
        &-txt{
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          overflow-wrap: break-word;
        }
        a{
          display: block;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          overflow-wrap: break-word;
          padding-bottom: 3px;
          &:hover{
            border-bottom: solid 1px #aaa;
          }
        }
        .git-link{
          transition: 0.3s;
          padding: 3px 0px;
          letter-spacing: 0.5px;
          &:hover{
            background-color: #aaa;
            color: #fff;
            border-bottom: none;
            padding-left: 5px;
          }
        }
        a:hover{
          .works-cnt-item-img{
            img{
              transform: scale(100%);
            }
            &::after{
              opacity: 0.4;
            }
          }
          .works-cnt-item-ttl{
            &::before{
              left: 0;
            }
            &::after{
              top: 0;
            }
          }
        }
      }
    }
  }
}
#about{
  max-width: 480px;
  margin-top: 80px;
  padding: 0 40px;
  .section-ttl{
    text-align: left;
    position: relative;
    // z-index: 2;
    &::after{
      display: block;
      content: "";
      width: 100px;
      height: 200px;
      background-color: rgba($color: lightblue, $alpha: 0.4);
      position: absolute;
      left: 55px;
      top: -80px;
      z-index: -1;
    }
  }
  .about-cnt{
    margin-top: 60px;
    position: relative;
    &-photo{
      position: absolute;
      top: -20px;
      left: -20px;
      &-inner{
        max-width: 160px;
        img{
          width: 100%;
        }
      }
      &::before{
        display: block;
        content: "";
        width: 145px;
        height: 225px;
        background-color: rgba($color: rgb(46, 189, 255), $alpha: 0.15);
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
      }
      &::after{
        display: block;
        content: "";
        width: 165px;
        height: 245px;
        background-color: rgba($color: rgb(46, 189, 255), $alpha: 0.2);
        position: absolute;
        left: -20px;
        top: -20px;
        z-index: -1;
      }
      &:hover::before{
        opacity: 0;
      }
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      line-height: 2;
      letter-spacing: 1.4px;
      // background-color: lightcoral; // 仮
      margin-left: 180px;
      padding-top: 16px;
      width: 300px;
      &-ttl, &-txt{
        height: 40px;
      }
      &-ttl{
        width: 90px;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 300;
      }
      &-txt{
        width: 70%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.4rem;
        font-weight: 300;
        &-skill{
          height: 96px;
        }
      }
    }
    &-txt{
      margin-top: 24px;
      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: 1px;
      margin-left: -20px;
      p{
        line-height: 2;
        margin-bottom: 20px;
      }
    }
  }
}


/* レスポンシブ */
@media screen and (min-width: 1142px)  {
  .main{
    width: calc(100vw - 400px);
    margin-left: 400px;
  }
}
@media screen and (max-width: 800px)  {
  .display, .br{
    &-pc{
      display: none;
    }
    &-sp{
      display: block;
    }
  }
  .body{
    display: block;
  }
  .header{
    position: relative;
    height: initial;
    width: initial;
    max-width: initial;
    background-color: initial;
    &-inner{
      a{
        color: #333;
      }
      .header-ttl-container{
        justify-content: space-between;
        .header-sns{
          margin: 46px 0 0 0;
          ul{
            display: flex;
            align-items: center;
            .header-sns-item{
              margin-bottom: initial;
              margin-left: 10px;
              a{
                max-width: 16px;
              }
            }
          }
        }
      }
      .header-ttl{
        font-size: 2.6rem;
        letter-spacing: 4px;
        margin-top: 40px;
        line-height: 1.4;
      }
      .header-nav{
        margin-top: 25px;
        ul{
          display: flex;
          flex-direction: row;
          justify-content: right;
          padding: 0 0 20px 40px;
          li{
            margin: 0 10px;
            &:nth-child(4){
              margin-right: 0;
            }
            a{
              font-size: 1.4rem;
              letter-spacing: 1.4px;
              text-indent: 1.4px;
              &:hover{
                letter-spacing: 4px;
              }
              &::after{
                background-color: rgba($color: lightblue, $alpha: 0.6);
                top: -50%;
              }
            }
          }
        }
      }
    }
    &-background{
      display: none;
    }
  }
  .main{
    width: initial;
    margin-left: initial;
  }
  .fv{
    position: relative;
    height: 240px;
    background-color: rgba($color: #93C2CB, $alpha: 0.7);
    &-inner{
      position: relative;
      z-index: 2;
      height: 100%;
      overflow: hidden;
      .fv-slogan{
        color: #fff;
        font-size: 3.6rem;
        bottom: 50px;
        width: 250px;
        transform: translateX(calc(-60%));
        line-height: 1.4;
        z-index: 3;
      }
      .fv-block--blue{
        width: 180px;
        height: 240px;
        transform: translateX(calc(-50% + 60px));
        background-color: rgba($color: lightblue, $alpha: 0.4);
      }
      .fv-profile{
        transform: translateX(calc(-50% + 100px));
      }
    }
    &-background{
      position: absolute;
      top: 0;
      height: 240px;
      width: 100%;
      background: no-repeat left/cover url(../img/fv.jpg);
      opacity: 0.2;
      z-index: 1;
    }
  }
  .section{
    padding: 0 4vw;
    width: initial;
  }
  #skills{
    margin-top: 60px;
    padding: 0 4vw;
    .skills{
      &-cnt{
        &-list{
          justify-content: space-around;
        }
        &-item{
          width: 45%;
        }
      }
    }
  }
  #works{
    .works{
      &-cnt{
        &-item{
          width: 90%;
        }
      }
    }
  }
  #about{
    margin-top: 20px;
    .section-ttl{
      text-align: left;
      text-indent: initial;
      &::after{
        width: 360px;
        height: 50px;
        left: -200px;
        top: 22px;
        background-color: rgba($color: lightblue, $alpha: 0.4);
        z-index: -1;
      }
      &::before{
        display: block;
        content: "";
        position: absolute;
        width: 360px;
        height: 50px;
        left: -200px;
        top: 22px;
        background: top/cover url(../img/fv.jpg);
        z-index: -1;
        opacity: 0.3;
      }
    }
    .about-cnt{
      &-photo{
        top: -40px;
        left: 30px;
        &::before{
          width: 150px;
          height: 230px;
          left: 0;
          top: 0;
        }
        &::after{
          width: 160px;
          height: 240px;
          left: -10px;
          top: -10px;
        }
        &:hover::before{
          opacity: 0;
        }
      }
      &-list{
        margin-left: 30px;
        padding-top: 220px;
        width: initial;
        &-ttl, &-txt{
          height: 30px;
        }
        &-ttl{
          max-width: 100px;
          width: 25%;
          font-size: 1.2rem;
        }
        &-txt{
          width: 75%;
          font-size: 1.2rem;
          &-skill{
            height: 84px;
          }
        }
      }
      &-txt{
        font-size: 1rem;
        padding: 0 30px;
        line-height: 1.4;
        letter-spacing: 1px;
        margin-left: initial;
      }
    }
  }
}