@charset "utf-8";

/* 共通部分 */
html{
  font-size: 62.5%;
}
body{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Noto Serif JP', serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
.display, .br{
  &-pc{
    display: initial;
  }
  &-sp{
    display: none;
  }
}

/* メイン構造（固定部） */
.body{
  display: flex;
}
.header{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100dvh;
  width: 30vw;
  background-color: rgba($color: #93C2CB, $alpha: 0.8);
  &-inner{
    position: relative;
    z-index: 2;
    padding-left: 40px;
    a{
      color: #fff;
    }
    .header-ttl{
      font-family: 'Lato', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 4px;
      margin-top: 40px;
      line-height: 1.6;
    }
    .header-nav{
      margin-top: 120px;
      ul{
        display: flex;
        flex-direction: column;
        li{
          margin: 20px 0;
          a{
            position: relative;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 4px;
            transition: 0.5s;
            &:hover{
              letter-spacing: 8px;
              &::after{
                transform: scale(100%);
              }
            }
            &::after{
              display: block;
              content: "";
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgba($color: #fff, $alpha: 0.4);
              position: absolute;
              top: -32%;
              left: -16%;
              z-index: -1;
              transform: scale(0);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  &-background{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100dvh;
    width: 30vw;
    background: no-repeat left/cover url(../img/fv.jpg);
    opacity: 0.2;
  }
}
.main{
  width: 70vw;
}
.footer{
  // display: flex;
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  font-weight: 300;
  text-indent: 1.6px;
  letter-spacing: 1.6px;
  z-index: 2;
}

/* コンテンツ部 */
.fv{
  // background-color: lightgray; // 仮
  height: 300px;
  &-inner{
    position: relative;
    height: 100%;
    .fv-slogan{
      color: #333;
      font-size: 6rem;
      font-style: italic;
      font-weight: 900;
      letter-spacing: 3px;
      line-height: 1.2;
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 330px;
      transform: translateX(calc(-50% - 80px));
      z-index: 3;
    }
    .fv-block--blue{
      height: 300px;
      width: 200px;
      background-color: rgba($color: lightblue, $alpha: 0.6);
      position: absolute;
      left: 50%;
      transform: translateX(calc(-50% + 80px));
      z-index: 1;
    }
    // .fv-profile{
    //   position: absolute;
    //   height: 300px;
    //   width: 300px;
    //   background: no-repeat center/contain url(../img/profile.png);
    //   z-index: 2;
    //   right: 0%;
    // }
  }
}
.section{
  // background-color: lightgreen; // 仮
  margin-top: 30px;
  &-ttl{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    text-indent: 4px;
    letter-spacing: 4px;
  }
}


/* レスポンシブ */
@media screen and (max-width: 800px)  {
  .display, .br{
    &-pc{
      display: none;
    }
    &-sp{
      display: initial;
    }
  }
  .body{
    display: block;
  }
  .header{
    position: relative;
    height: initial;
    width: initial;
    background-color: initial;
    &-inner{
      a{
        color: #333;
      }
      .header-ttl{
        font-size: 2rem;
        letter-spacing: 6px;
        margin-top: 40px;
        line-height: 1.4;
      }
      .header-nav{
        margin-top: 25px;
        ul{
          display: flex;
          flex-direction: row;
          justify-content: right;
          padding: 0 30px 20px 40px;
          li{
            margin: 0 10px;
            a{
              font-size: 1.4rem;
              letter-spacing: 1.4px;
              text-indent: 1.4px;
              &:hover{
                letter-spacing: 4px;
              }
              &::after{
                background-color: rgba($color: lightblue, $alpha: 0.6);
                top: -50%;
              }
            }
          }
        }
      }
    }
    &-background{
      display: none;
    }
  }
  .main{
    width: initial;
  }
  .fv{
    position: relative;
    height: 240px;
    background-color: rgba($color: #93C2CB, $alpha: 0.7);
    &-inner{
      position: relative;
      z-index: 2;
      height: 100%;
      .fv-slogan{
        color: #fff;
        font-size: 3.6rem;
        bottom: 30px;
        width: 250px;
        transform: translateX(calc(-50%));
        z-index: 3;
      }
      .fv-block--blue{
        width: 160px;
        height: 240px;
        transform: translateX(calc(-50% + 60px));
        background-color: rgba($color: lightblue, $alpha: 0.4);
      }
    }
    &-background{
      position: absolute;
      top: 0;
      height: 240px;
      width: 100%;
      background: no-repeat left/cover url(../img/fv.jpg);
      opacity: 0.2;
      z-index: 1;
    }
  }
}