@charset "UTF-8";
body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}
a{
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}
h1{
  font-weight: 500;
}
header, .wrapper, footer{
  box-sizing: border-box;
}

// ここからは header です
header{
  max-width: 1360px;
  height: 80px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.hp-title{
  a{
    display: block;
    width: 180px;
    transition: 0.5s;
    img{
      max-width: 100%;
    }
    &:hover{
      opacity: 0.7;
    }
  }
}
.ham{
  width: 30px;
  height: 30px;
  top: 25px;
  right: 55px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover{
    cursor: pointer;
  }
  .ham__bar{
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
    transition: 0.5s;
    &-1{
      margin-bottom: 3px;
    }
    &-2{
      margin-top: 3px;
    }
  }
  &.active{
    .ham__bar{
      background-color: #fff;
      &-1{
        margin-bottom: 0;
        transform: translateY(1px) rotate(-45deg);
      }
      &-2{
        margin-top: 0;
        transform: translateY(-1px) rotate(45deg);
      }
    }
  }
}
.hp-nav{
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  z-index: 100;
  transition: 0.5s;
  .hp-nav-list{
    padding: 40px 0 40px 50px;
    transition: all 0.5s;
    .hp-nav-item{
      margin-bottom: 20px;
      a{
        color: #fff;
        transition: 0.5s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  &.active{
    left: 0;
  }
}
.mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.8);
  z-index: 99;
  transition: 0.5s;
  &:hover{
    cursor: pointer;
  }
  &.active{
    display: block;
  }
}

// ここからは main です
.wrapper{
  max-width: 1360px;
  margin: 0 auto;
  margin: 0 auto;
  padding: 80px 40px 160px;
}
.shopping-cart-now{
  line-height: 2;
  margin-bottom: 10px;
  a{
    color: #06C5F5;
    padding: 0 2px 5px 2px;
    border-bottom: 1px solid #06C5F5;
  }
}
.section-title{
  margin: 40px 0;
}
.section-cnt{
  max-width: 600px;
}
.product-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  line-height: 1.5;
  .product-item{
    width: 23%;
    margin-bottom: 40px;
    a{
      display: block;
      margin-bottom: 5px;
      letter-spacing: 1px;
      img{
        max-width: 100%;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.num-container{
  display: flex;
  justify-content: space-between;
  .select-num{
    height: 30px;
    width: 20%;
    border: none;
    border: 1px solid #ddd;
    padding: 5px;
  }
  .btn-cart{
    color: #fff;
    background-color: #06C5F5;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    div{
      font-weight: bold;
    }
    &-img{
      width: 15px;
      margin-right: 5px;
      margin-top: 3px;
      img{
        width: 100%;
      }
    }
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
.view-more{
  text-align: center;
  line-height: 20px;
  a{
    transition: .3s;
    padding: 5px;
    border-bottom: 1px solid #777;
    &:hover{
      color: #fff;
      background-color: #777;
    }
  }
}
.page{
  text-align: center;
  .to-page{
    margin: 0 18px;
  }
}
#about p{
  line-height: 1.9;
  margin-bottom: 30px;
}
#company dl{
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  margin-bottom: 20px;
  dt{
    box-sizing: border-box;
    width: 30%;
    padding: 20px 0 20px 10px;
    border-bottom: solid 1px #ddd;
    &:last-of-type{
      border-bottom: none;
    }
  }
  dd{
    box-sizing: border-box;
    width: 70%;
    border-bottom: solid 1px #ddd;
    padding: 20px 0;
    &:last-of-type{
      border-bottom: none;
    }
  }
}
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
#item{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-bottom: 60px;
  .item-img{
    width: 50%;
    img{
      max-width: 100%;
    }
  }
  .item-cnt{
    width: 42%;
    .item-cnt-text{
      margin-bottom: 30px;
      line-height: 1.5;
    }
    .item-cnt-price{
      margin-bottom: 40px;
    }
    .item-cnt-info{
      display: flex;
      flex-wrap: wrap;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 30px;
      .item-cnt-info-ttl{
        width: 30%;
        margin-bottom: 10px;
      }
      .item-cnt-info-cnt{
        width: 70%;
      }
    }
  }
}
.cart-ttl{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 30px 0;
}
#cart{
  display: flex;
  justify-content: center;
  .cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px;
    line-height: 1.5;
    margin-right: 30px;
    .item{
      margin-bottom: 20px;
      form{
        button{
          border: none;
          color: #fff;
          background-color: #777;
          margin-top: 5px;
          padding: 5px 10px;
          border-radius: 3px;
          transition: 0.3s;
          &:hover{
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .sum-container{
    letter-spacing: 1px;
    line-height: 2;
    .sum-price{
      font-size: 1.5rem;
    }
    .next-buy{
      transition: 0.3s;
      a{
        color: #06C5F5;
      }
      border-bottom: 1px solid #06C5F5;
      &:hover{
        background-color: #06C5F5;
        cursor: pointer;
        a{
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 900px){
  #item{
    flex-wrap: wrap;
    max-width: 100%;
    .item-img{
      width: 100%;
      margin-bottom: 40px;
    }
    .item-cnt{
      width: 100%;
    }
  }
  .num-container{
    .select-num{
      width: 19%;
      padding: 0;
    }
    .btn-cart{
      width: 80%;
      font-weight: initial;
      font-size: 0.4rem;
    }
  }
}

// ここからは footer です
footer{
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 0.75rem;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.sns-list{
  display: flex;
  justify-content: space-between;
  .sns-item{
    margin-right: 30px;
  }
}

// レスポンシブ
@media screen and (max-width: 900px) {
  .product-list{
    .product-item{
      width: 47%;
    }
  }
  footer{
    flex-direction: column;
    .sns-list{
      justify-content: start;
      margin-bottom: 10px;
    }
  }
}